<?xml version="1.0" encoding="utf-8"?>
<Content Key="353b84ec-55a4-4664-b259-0072191ebd9f" Alias="Bánh Trứng Rau Củ" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/BanhTrungRauCu</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:09:28</CreateDate>
    <NodeName Default="Bánh Trứng Rau Củ">
      <Name Culture="en-us">Vegetable Egg Cake</Name>
      <Name Culture="vi">Bánh Trứng Rau Củ</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "468928f8-714c-4f9e-8c84-eb4471a94e7c",
    "mediaKey": "2d9f9bd9-4c56-4963-9619-3d6e7bd5d48c"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "2bd1d42d-97cc-42eb-84dc-7669d8d9ea66",
    "mediaKey": "2d9f9bd9-4c56-4963-9619-3d6e7bd5d48c"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Bánh, Trứng]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Vegetable Egg Cake]]></Value>
      <Value Culture="vi"><![CDATA[Bánh Trứng Rau Củ]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Breakfast"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Breakfast"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "1de8a711-999b-4576-937c-34560096a496",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>