<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f18c8fc-6f67-4782-97c3-2b8e79391a21" Alias="Bánh Plan MiLo" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/BanhPlanMiLo</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:32:49</CreateDate>
    <NodeName Default="Bánh Plan MiLo">
      <Name Culture="en-us">Flan MiLo Cake</Name>
      <Name Culture="vi">Bánh Plan MiLo</Name>
    </NodeName>
    <SortOrder>25</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "b6362df1-272e-47fe-b7e7-6c756f7d39ee",
    "mediaKey": "e79c9d5f-2f74-4d2d-9483-5534f3502ee0"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "1acd99b5-66e3-4afd-88bf-11f6c79cc109",
    "mediaKey": "e79c9d5f-2f74-4d2d-9483-5534f3502ee0"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[MiLo, Kem]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Flan MiLo Cake]]></Value>
      <Value Culture="vi"><![CDATA[Bánh Plan MiLo]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Desserts"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Desserts"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "3e378955-e2f4-4a3f-bbda-8eec3714f6cd",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>