<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2cb2bdd-0939-4755-a14e-55fe7b65452f" Alias="Bánh Ngọt Dâu Tây" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/BanhNgotDauTay</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:31:36</CreateDate>
    <NodeName Default="Bánh Ngọt Dâu Tây">
      <Name Culture="en-us">Strawberry Cake</Name>
      <Name Culture="vi">Bánh Ngọt Dâu Tây</Name>
    </NodeName>
    <SortOrder>23</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "1b8aae73-2b85-4436-8dc9-49f892b478d7",
    "mediaKey": "cea99364-aa63-4163-8d74-09fe26f685ad"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "879ef27a-70a5-4d8c-a365-8dc2f5ce7da8",
    "mediaKey": "cea99364-aa63-4163-8d74-09fe26f685ad"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Thịt, Khoai tây, Gạo, Cà chua]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Strawberry Cake]]></Value>
      <Value Culture="vi"><![CDATA[Bánh Ngọt Dâu Tây]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Desserts"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Desserts"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "179bd938-31b5-43db-948f-157701917a23",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>