<?xml version="1.0" encoding="utf-8"?>
<Content Key="49752960-aa14-4183-a376-8c29e9b13a54" Alias="Bò Bít Tết" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/BoBitTet</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T10:29:00</CreateDate>
    <NodeName Default="Bò Bít Tết">
      <Name Culture="en-us">Steak</Name>
      <Name Culture="vi">Bò Bít Tết</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "e9e84714-a769-44a2-a4b9-6c5b84597b13",
    "mediaKey": "6973c8c6-fabc-4fbe-8956-67054e2e88c8"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "5d74b5db-2197-4ea2-9456-b800407ed71d",
    "mediaKey": "6973c8c6-fabc-4fbe-8956-67054e2e88c8"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Bò, Rau củ quả]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Steak]]></Value>
      <Value Culture="vi"><![CDATA[Bò Bít Tết]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Lunch"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Lunch"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "64817278-d8ed-40ff-be21-49a15631c83d",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>