<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9d0cec7-5270-47d3-8730-61d7347fecd1" Alias="Bún Thịt Heo" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/BunThitHeo</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:20:18</CreateDate>
    <NodeName Default="Bún Thịt Heo">
      <Name Culture="en-us">Pork Noodles</Name>
      <Name Culture="vi">Bún Thịt Heo</Name>
    </NodeName>
    <SortOrder>18</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "f50dfbdf-4e15-4757-8302-62dac1390f41",
    "mediaKey": "d3031835-9565-4585-ae56-dab80e4d1d4a"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "4b4df0d5-9262-4516-bc32-a5bdc628cad9",
    "mediaKey": "d3031835-9565-4585-ae56-dab80e4d1d4a"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[bùn, thịt heo hầm, rau]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Pork Noodles]]></Value>
      <Value Culture="vi"><![CDATA[Bún Thịt Heo]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Dinner"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Dinner"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "7b993a97-933d-47fd-a725-16706049a524",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>