<?xml version="1.0" encoding="utf-8"?>
<Content Key="eab27730-13b0-47e8-b980-71292887e1c5" Alias="Coca Cola" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/CocaCola</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:42:04</CreateDate>
    <NodeName Default="Coca Cola">
      <Name Culture="en-us">Coca-Cola</Name>
      <Name Culture="vi">Coca Cola</Name>
    </NodeName>
    <SortOrder>39</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "4ae4f169-7368-43c3-a3cd-e3c6e5407267",
    "mediaKey": "de79b98e-ef07-4ad1-95ce-674d7cb84b14"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "9cc9ebd5-cef2-41c3-b5ee-d78677de7a04",
    "mediaKey": "de79b98e-ef07-4ad1-95ce-674d7cb84b14"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Thịt, Khoai tây, Gạo, Cà chua]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Coca-Cola]]></Value>
      <Value Culture="vi"><![CDATA[Coca Cola]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Drinks"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Drinks"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "a26e647b-4626-408d-9180-159af4a216e9",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>