<?xml version="1.0" encoding="utf-8"?>
<Content Key="02f21b02-814d-4840-be7c-b5cc98d82602" Alias="Comment - Lê Cao Thành Nhân (3)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentLeCaoThanhNhan3</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-12T16:15:31</CreateDate>
    <NodeName Default="Comment - Lê Cao Thành Nhân (3)" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/12/2023 4:15:31 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Hi]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Lê Cao Thành Nhân]]></Value>
    </cmtName>
  </Properties>
</Content>