<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc2844e0-0d6d-4340-9c69-0c6516f97294" Alias="Comment - Thành Nhân 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CommentThanhNhan1</Path>
    <Trashed Parent="8efaaa3d-979b-483f-9248-ce8234effe32">true</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-12T11:00:29</CreateDate>
    <NodeName Default="Comment - Thành Nhân 1" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/12/2023 11:00:29 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[lecao11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1216]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Đồ ăn ngon]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân 1]]></Value>
    </cmtName>
  </Properties>
</Content>