<?xml version="1.0" encoding="utf-8"?>
<Content Key="76fdf428-e5d5-4e05-9c9b-67bb89146e5b" Alias="Comment - Cain Gentry" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentCainGentry</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-25T14:27:23</CreateDate>
    <NodeName Default="Comment - Cain Gentry" />
    <SortOrder>76</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[25/07/2023 14:27:23]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[voduno@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1340]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Nulla porro a saepe ]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Cain Gentry]]></Value>
    </cmtName>
  </Properties>
</Content>