<?xml version="1.0" encoding="utf-8"?>
<Content Key="504ca63c-f93c-44d3-b549-cabad777a4bc" Alias="Comment - Yardley Johns" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentYardleyJohns</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:05:33</CreateDate>
    <NodeName Default="Comment - Yardley Johns" />
    <SortOrder>83</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:05:33]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[qexit@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[At quia distinctio ]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Yardley Johns]]></Value>
    </cmtName>
  </Properties>
</Content>