<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b0ab662-478e-422f-b859-553459bb6c09" Alias="Comment - Thành Nhân (6)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentThanhNhan6</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-13T16:07:46</CreateDate>
    <NodeName Default="Comment - Thành Nhân (6)" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/13/2023 4:07:46 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1214]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[mmmmmmmmmmmmm]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân]]></Value>
    </cmtName>
  </Properties>
</Content>