<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e9552ee-5e3b-457c-8ffb-dafb844badaf" Alias="Comment (6) (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Comment61</Path>
    <Trashed Parent="8efaaa3d-979b-483f-9248-ce8234effe32">true</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-12T09:33:52</CreateDate>
    <NodeName Default="Comment (6) (1)" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/12/2023 9:33:52 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1210]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Hello]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân 2]]></Value>
    </cmtName>
  </Properties>
</Content>