<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f747077-89f9-4949-9a29-42845d56a44f" Alias="Comment - Adele House" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentAdeleHouse</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-26T15:40:02</CreateDate>
    <NodeName Default="Comment - Adele House" />
    <SortOrder>78</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[26/07/2023 15:40:02]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[qalezimic@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Quod in aperiam null]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Adele House]]></Value>
    </cmtName>
  </Properties>
</Content>