<?xml version="1.0" encoding="utf-8"?>
<Content Key="8efaaa3d-979b-483f-9248-ce8234effe32" Alias="Comments" Level="2">
  <Info>
    <Parent Key="b3eba053-4ea7-47cf-96ee-2997ee55d03a">Home</Parent>
    <Path>/Home/Comments</Path>
    <Trashed>false</Trashed>
    <ContentType>comments</ContentType>
    <CreateDate>2023-07-11T13:24:33</CreateDate>
    <NodeName Default="Comments" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>