<?xml version="1.0" encoding="utf-8"?>
<Content Key="a77b0c84-fd4d-437d-9a8f-eaa76efec08b" Alias="Comment - Azalia Bryan" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentAzaliaBryan</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:27:48</CreateDate>
    <NodeName Default="Comment - Azalia Bryan" />
    <SortOrder>100</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:27:48]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[xape@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Suscipit itaque et o]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Azalia Bryan]]></Value>
    </cmtName>
  </Properties>
</Content>