<?xml version="1.0" encoding="utf-8"?>
<Content Key="c829218d-c80f-4586-9a5b-c6355733b3ee" Alias="Comment - Salvador Massey" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentSalvadorMassey</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:24:38</CreateDate>
    <NodeName Default="Comment - Salvador Massey" />
    <SortOrder>96</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:24:38]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[mypic@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Deleniti dicta nihil]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Salvador Massey]]></Value>
    </cmtName>
  </Properties>
</Content>