<?xml version="1.0" encoding="utf-8"?>
<Content Key="16aa435c-4da8-4ce8-8c62-3831b39b7d2b" Alias="Comment - Shea Caldwell" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentSheaCaldwell</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-26T15:40:39</CreateDate>
    <NodeName Default="Comment - Shea Caldwell" />
    <SortOrder>79</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[26/07/2023 15:40:39]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[jekeho@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Sit enim aut eligen]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Shea Caldwell]]></Value>
    </cmtName>
  </Properties>
</Content>