<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2ef9bc7-57d6-49fc-b305-7f10e3803360" Alias="Comment - Nhân Lê (3)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentNhanLe3</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-14T13:49:44</CreateDate>
    <NodeName Default="Comment - Nhân Lê (3)" />
    <SortOrder>31</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/14/2023 1:49:44 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[HEHEHE]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Nhân Lê]]></Value>
    </cmtName>
  </Properties>
</Content>