<?xml version="1.0" encoding="utf-8"?>
<Content Key="9fe08635-fca0-4eab-91c7-8d9b4315c2d4" Alias="Comment - Dorothy Tyler" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentDorothyTyler</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:12:55</CreateDate>
    <NodeName Default="Comment - Dorothy Tyler" />
    <SortOrder>89</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:12:55]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[halag@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Dolorem quia rerum e]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Dorothy Tyler]]></Value>
    </cmtName>
  </Properties>
</Content>