<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cdb7e52-f487-490a-ade2-cb7fa0bc6be4" Alias="Comment - Thế Vinh" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/CommentTheVinh</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-26T15:28:30</CreateDate>
    <NodeName Default="Comment - Thế Vinh" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[2023-07-26T15:28:29]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Thế Vinh]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[5]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[0905669865]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-26T15:28:29]]></Value>
    </reservationTime>
  </Properties>
</Content>