<?xml version="1.0" encoding="utf-8"?>
<Content Key="72b271a1-5444-4d5c-9fdb-5f6d97521bd0" Alias="Comment - Lê Cao Thành Nhân" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentLeCaoThanhNhan</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-12T14:03:28</CreateDate>
    <NodeName Default="Comment - Lê Cao Thành Nhân" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/12/2023 2:03:28 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[lecao11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1214]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Nhân viên tốt]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Lê Cao Thành Nhân]]></Value>
    </cmtName>
  </Properties>
</Content>