<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a20f413-898d-4d2c-b756-fdf6c094b77e" Alias="Comment - Hyatt Coffey" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentHyattCoffey</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-21T15:44:38</CreateDate>
    <NodeName Default="Comment - Hyatt Coffey" />
    <SortOrder>64</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[21/07/2023 15:44:38]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[wyrypo@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1210]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Architecto enim susc]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Hyatt Coffey]]></Value>
    </cmtName>
  </Properties>
</Content>