<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dac3580-0e56-42f2-8bcc-1bc504c7edb2" Alias="Comment - Kato Fleming" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentKatoFleming</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T11:20:06</CreateDate>
    <NodeName Default="Comment - Kato Fleming" />
    <SortOrder>52</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 11:20:06 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[wafylumu@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1216]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Maiores saepe quas a]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Kato Fleming]]></Value>
    </cmtName>
  </Properties>
</Content>