<?xml version="1.0" encoding="utf-8"?>
<Content Key="58d89a71-e259-4eb6-98e6-cc35bf1ffc9e" Alias="Comment - Blaine Riggs" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentBlaineRiggs</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T11:42:56</CreateDate>
    <NodeName Default="Comment - Blaine Riggs" />
    <SortOrder>54</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 11:42:55 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[komazyh@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1216]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Proident eiusmod at]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Blaine Riggs]]></Value>
    </cmtName>
  </Properties>
</Content>