<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6fdf219-1dca-4eaa-8d8e-344dde914a66" Alias="Comment - Thành Nhân  (10)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentThanhNhan10</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-14T08:18:13</CreateDate>
    <NodeName Default="Comment - Thành Nhân  (10)" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/14/2023 8:18:12 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[lecao11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[ádsad]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân ]]></Value>
    </cmtName>
  </Properties>
</Content>