<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9457dc1-ce9b-4ff9-9c0d-47f32eb48ac5" Alias="Comment - Maxine Briggs" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentMaxineBriggs</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T09:59:08</CreateDate>
    <NodeName Default="Comment - Maxine Briggs" />
    <SortOrder>81</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 09:59:08]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[lixozag@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Veniam ut ad sed no]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Maxine Briggs]]></Value>
    </cmtName>
  </Properties>
</Content>