<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4517510-30c6-463c-9cc7-3fe9a37c9672" Alias="Comment - Levi Weiss" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentLeviWeiss</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-21T15:45:22</CreateDate>
    <NodeName Default="Comment - Levi Weiss" />
    <SortOrder>65</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[21/07/2023 15:45:22]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[qapywapad@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1210]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Sed et blanditiis do]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Levi Weiss]]></Value>
    </cmtName>
  </Properties>
</Content>