<?xml version="1.0" encoding="utf-8"?>
<Content Key="eafbeb93-813e-4e51-ab2d-83423c7462e9" Alias="Comment - Paula Luna" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentPaulaLuna</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-21T16:17:11</CreateDate>
    <NodeName Default="Comment - Paula Luna" />
    <SortOrder>71</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[21/07/2023 16:17:11]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[gybyjito@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1218]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Dicta sint libero a]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Paula Luna]]></Value>
    </cmtName>
  </Properties>
</Content>