<?xml version="1.0" encoding="utf-8"?>
<Content Key="2696dbd3-36fc-48ad-9d52-687362d23b1a" Alias="Comment - Sydnee Gross" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentSydneeGross</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:10:03</CreateDate>
    <NodeName Default="Comment - Sydnee Gross" />
    <SortOrder>87</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:10:03]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[bejebyqu@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Quam magna pariatur]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Sydnee Gross]]></Value>
    </cmtName>
  </Properties>
</Content>