<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa92d7cf-44bb-40cd-8ee0-75e364ac3272" Alias="Comment - Travis Leonard" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentTravisLeonard</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T10:16:58</CreateDate>
    <NodeName Default="Comment - Travis Leonard" />
    <SortOrder>48</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 10:16:58 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[zeri@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Deserunt cupiditate ]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Travis Leonard]]></Value>
    </cmtName>
  </Properties>
</Content>