<?xml version="1.0" encoding="utf-8"?>
<Content Key="0461fb32-a43b-42e6-bedc-b9325f319070" Alias="Comment - Thành Nhân 1 (1)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentThanhNhan11</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-13T16:04:19</CreateDate>
    <NodeName Default="Comment - Thành Nhân 1 (1)" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/13/2023 4:04:19 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1214]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[mmm]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân 1]]></Value>
    </cmtName>
  </Properties>
</Content>