<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3458ca4-c8c2-4135-952f-c90936cfd920" Alias="Comment - Xù" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentXu</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T08:53:58</CreateDate>
    <NodeName Default="Comment - Xù" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 8:53:58 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[nhan@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[hello]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Xù]]></Value>
    </cmtName>
  </Properties>
</Content>