<?xml version="1.0" encoding="utf-8"?>
<Content Key="2beb2f13-70ed-46b0-b4ec-675f131c664e" Alias="Comment - Lê Cao Thành Nhân (2)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentLeCaoThanhNhan2</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-12T15:41:00</CreateDate>
    <NodeName Default="Comment - Lê Cao Thành Nhân (2)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/12/2023 3:41:00 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[lecao11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1210]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Chào]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Lê Cao Thành Nhân]]></Value>
    </cmtName>
  </Properties>
</Content>