<?xml version="1.0" encoding="utf-8"?>
<Content Key="6cb3edc2-13fa-4378-9b0e-d8a61da3d407" Alias="Comment - Mufutau Case" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentMufutauCase</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T13:45:37</CreateDate>
    <NodeName Default="Comment - Mufutau Case" />
    <SortOrder>57</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 1:45:37 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[makecicelo@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1212]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Modi beatae ipsa si]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Mufutau Case]]></Value>
    </cmtName>
  </Properties>
</Content>