<?xml version="1.0" encoding="utf-8"?>
<Content Key="d379235b-c07c-4eb5-8826-649c739c684e" Alias="Comment -  (14)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/Comment14</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:24:58</CreateDate>
    <NodeName Default="Comment -  (14)" />
    <SortOrder>97</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:24:58]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[]]></Value>
    </cmtName>
  </Properties>
</Content>