<?xml version="1.0" encoding="utf-8"?>
<Content Key="9911a4fe-3205-4c58-a1ee-9ce0b4ef59c1" Alias="Comment - Maile Duran" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentMaileDuran</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T10:01:57</CreateDate>
    <NodeName Default="Comment - Maile Duran" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 10:01:57 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[guci@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Quae dolorem eligend]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Maile Duran]]></Value>
    </cmtName>
  </Properties>
</Content>