<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ab60989-6b20-4eba-a8b0-3a82f3932aa6" Alias="Comment - Hiu" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentHiu</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-26T15:38:06</CreateDate>
    <NodeName Default="Comment - Hiu" />
    <SortOrder>77</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[26/07/2023 15:38:06]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1340]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[hihihi]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Hiu]]></Value>
    </cmtName>
  </Properties>
</Content>