<?xml version="1.0" encoding="utf-8"?>
<Content Key="58d8ee00-7f52-4ab5-a201-84f607b5a151" Alias="Comment - Thế Vinh (7)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CommentTheVinh7</Path>
    <Trashed Parent="8efaaa3d-979b-483f-9248-ce8234effe32">true</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T09:01:49</CreateDate>
    <NodeName Default="Comment - Thế Vinh (7)" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 9:01:49 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[0]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[xxxxxxxxxxxxxxxxx]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thế Vinh]]></Value>
    </cmtName>
  </Properties>
</Content>