<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2f3934f-ec79-4bda-a567-1616d7d2aa97" Alias="Comment - Martin Stokes" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentMartinStokes</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T10:27:31</CreateDate>
    <NodeName Default="Comment - Martin Stokes" />
    <SortOrder>50</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 10:27:31 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[jobudarif@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Velit nulla amet n]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Martin Stokes]]></Value>
    </cmtName>
  </Properties>
</Content>