<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c8a9188-5a84-4757-950b-9cd254610c2e" Alias="Comment - Lê Cao Thành Nhân (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CommentLeCaoThanhNhan1</Path>
    <Trashed Parent="8efaaa3d-979b-483f-9248-ce8234effe32">true</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-12T11:00:12</CreateDate>
    <NodeName Default="Comment - Lê Cao Thành Nhân (1)" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/12/2023 11:00:12 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1212]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Rộng nha]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Lê Cao Thành Nhân]]></Value>
    </cmtName>
  </Properties>
</Content>