<?xml version="1.0" encoding="utf-8"?>
<Content Key="e149c5c7-c233-4336-9959-12dae0b04f16" Alias="Comment - Thành Nhân (11)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentThanhNhan11</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T09:10:28</CreateDate>
    <NodeName Default="Comment - Thành Nhân (11)" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 9:10:28 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[0]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[ssssssss]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân]]></Value>
    </cmtName>
  </Properties>
</Content>