<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6bfa633-0e23-4dd7-88f8-a01ba8ade691" Alias="Comment - Keiko Gillespie" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentKeikoGillespie</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T13:50:11</CreateDate>
    <NodeName Default="Comment - Keiko Gillespie" />
    <SortOrder>58</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 1:50:11 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[qyfo@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1212]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Reprehenderit volup]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Keiko Gillespie]]></Value>
    </cmtName>
  </Properties>
</Content>