<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c87d2d6-4ceb-4014-ad36-045c98eed9e2" Alias="Comment - Aretha Hughes" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentArethaHughes</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-28T13:24:39</CreateDate>
    <NodeName Default="Comment - Aretha Hughes" />
    <SortOrder>107</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[28/07/2023 13:24:39]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[buxawabu@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[At dolorem distincti]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Aretha Hughes]]></Value>
    </cmtName>
  </Properties>
</Content>