<?xml version="1.0" encoding="utf-8"?>
<Content Key="c05237e8-53cf-4a24-8d53-9ba9c2333df9" Alias="Comment - Callie Mays" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentCallieMays</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-21T16:13:53</CreateDate>
    <NodeName Default="Comment - Callie Mays" />
    <SortOrder>70</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[21/07/2023 16:13:53]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[hepusasovy@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Nisi ea quis laborum]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Callie Mays]]></Value>
    </cmtName>
  </Properties>
</Content>