<?xml version="1.0" encoding="utf-8"?>
<Content Key="f73ca471-feac-4766-9450-4d610d9c22ed" Alias="Comment - Katell Avila" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentKatellAvila</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T09:57:49</CreateDate>
    <NodeName Default="Comment - Katell Avila" />
    <SortOrder>41</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 9:57:49 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[bepen@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Lorem fugit aut do ]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Katell Avila]]></Value>
    </cmtName>
  </Properties>
</Content>