<?xml version="1.0" encoding="utf-8"?>
<Content Key="a232fdc7-ab95-46d4-a4d3-853159147268" Alias="Comment - Sydnee Melendez" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentSydneeMelendez</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:38:16</CreateDate>
    <NodeName Default="Comment - Sydnee Melendez" />
    <SortOrder>105</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:38:16]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[cezix@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1340]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Voluptatem rerum hic]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Sydnee Melendez]]></Value>
    </cmtName>
  </Properties>
</Content>