<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5aa1bb0-179c-43e5-958c-ea49b9b82a98" Alias="Comment - Leah Bonner" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentLeahBonner</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:27:07</CreateDate>
    <NodeName Default="Comment - Leah Bonner" />
    <SortOrder>99</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:27:07]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[xozul@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Et voluptatem dolore]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Leah Bonner]]></Value>
    </cmtName>
  </Properties>
</Content>