<?xml version="1.0" encoding="utf-8"?>
<Content Key="87ca2ed2-79a2-4c27-8e2c-f61440e4c410" Alias="Comment - Scott Trevino" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentScottTrevino</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:13:04</CreateDate>
    <NodeName Default="Comment - Scott Trevino" />
    <SortOrder>90</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:13:04]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[supokyw@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Sed Nam aut aspernat]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Scott Trevino]]></Value>
    </cmtName>
  </Properties>
</Content>