<?xml version="1.0" encoding="utf-8"?>
<Content Key="98cad08f-ffb9-49f8-8ef1-402409dc8c25" Alias="Comment - Libby Fowler" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentLibbyFowler</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:36:11</CreateDate>
    <NodeName Default="Comment - Libby Fowler" />
    <SortOrder>102</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:36:11]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[notumires@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1214]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Ut ad labore volupta]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Libby Fowler]]></Value>
    </cmtName>
  </Properties>
</Content>