<?xml version="1.0" encoding="utf-8"?>
<Content Key="6461506c-8cfa-4eee-a3f9-fdb87c994b7d" Alias="Comment - Kermit Mccoy" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentKermitMccoy</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-21T15:51:15</CreateDate>
    <NodeName Default="Comment - Kermit Mccoy" />
    <SortOrder>66</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[21/07/2023 15:51:15]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[rateruhigo@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1214]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Cupiditate quo proid]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Kermit Mccoy]]></Value>
    </cmtName>
  </Properties>
</Content>