<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d65f494-2be5-442d-a125-46aafedc29af" Alias="Comment - Thế Vinh" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CommentTheVinh</Path>
    <Trashed Parent="8efaaa3d-979b-483f-9248-ce8234effe32">true</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-12T10:57:41</CreateDate>
    <NodeName Default="Comment - Thế Vinh" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/12/2023 10:57:41 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Đẹp quá]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thế Vinh]]></Value>
    </cmtName>
  </Properties>
</Content>