<?xml version="1.0" encoding="utf-8"?>
<Content Key="3362eedd-8820-4c4b-b6cb-a8f56a03b586" Alias="Comment" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Comment</Path>
    <Trashed Parent="8efaaa3d-979b-483f-9248-ce8234effe32">true</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-11T14:29:00</CreateDate>
    <NodeName Default="Comment" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/7/2023 12:00:00 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[lecao11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1212]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[<p>dsfds dqewqeeeerrrtr</p>]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[<p>Nhân Lê</p>]]></Value>
    </cmtName>
  </Properties>
</Content>