<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e9d84e0-916f-4f31-bcce-990105b4aac6" Alias="Comment - Lê Cao Thành Nhân" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/CommentLeCaoThanhNhan</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-26T15:47:16</CreateDate>
    <NodeName Default="Comment - Lê Cao Thành Nhân" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[2023-07-26T15:47:16]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Lê Cao Thành Nhân]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[5]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[0905669865]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-26T15:47:16]]></Value>
    </reservationTime>
  </Properties>
</Content>