<?xml version="1.0" encoding="utf-8"?>
<Content Key="172fed6b-11b6-4172-99b0-0b74fa1f1736" Alias="Comment - Thế Vinh (6)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentTheVinh6</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-14T13:45:47</CreateDate>
    <NodeName Default="Comment - Thế Vinh (6)" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/14/2023 1:45:47 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[lecao11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[213213213]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thế Vinh]]></Value>
    </cmtName>
  </Properties>
</Content>