<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4a01933-451f-4940-a96a-b9645ef69a68" Alias="Comment - Damian Salazar" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentDamianSalazar</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-23T16:04:38</CreateDate>
    <NodeName Default="Comment - Damian Salazar" />
    <SortOrder>74</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[23/07/2023 16:04:38]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[fewe@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1216]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Iusto dolores soluta]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Damian Salazar]]></Value>
    </cmtName>
  </Properties>
</Content>