<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0377bc8-0a65-4308-a605-580c8309f4d9" Alias="Comment - Carla Murray" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentCarlaMurray</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T11:24:18</CreateDate>
    <NodeName Default="Comment - Carla Murray" />
    <SortOrder>53</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 11:24:18 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[gamixi@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1216]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Est magnam ut eius a]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Carla Murray]]></Value>
    </cmtName>
  </Properties>
</Content>