<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b47d518-e247-4a00-94ec-bafd9b95b58d" Alias="Comment - Ramona Russell" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentRamonaRussell</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T14:33:19</CreateDate>
    <NodeName Default="Comment - Ramona Russell" />
    <SortOrder>60</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 2:33:19 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[kynacucan@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1212]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Eius omnis occaecat ]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Ramona Russell]]></Value>
    </cmtName>
  </Properties>
</Content>