<?xml version="1.0" encoding="utf-8"?>
<Content Key="1423c169-7056-4031-8ca9-bd42a63fe298" Alias="Comment - Bell Mckinney" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentBellMckinney</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T09:29:31</CreateDate>
    <NodeName Default="Comment - Bell Mckinney" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 9:29:31 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[muqije@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1212]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Iure accusantium com]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Bell Mckinney]]></Value>
    </cmtName>
  </Properties>
</Content>