<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ca7989e-a2ab-4ee2-91d5-a0745591d170" Alias="Comment - Iliana West" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentIlianaWest</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:36:59</CreateDate>
    <NodeName Default="Comment - Iliana West" />
    <SortOrder>103</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:36:59]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[dimagov@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1340]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Qui et distinctio A]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Iliana West]]></Value>
    </cmtName>
  </Properties>
</Content>