<?xml version="1.0" encoding="utf-8"?>
<Content Key="86561a44-1980-4814-b058-fbc47aba75e2" Alias="Comment - Nhân Lê" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentNhanLe</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-12T11:04:32</CreateDate>
    <NodeName Default="Comment - Nhân Lê" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/12/2023 11:04:32 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1210]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Ngon ]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Nhân Lê]]></Value>
    </cmtName>
  </Properties>
</Content>