<?xml version="1.0" encoding="utf-8"?>
<Content Key="8848f25d-51cd-4863-9dff-07dbd3120599" Alias="Comment - Richard Strickland" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentRichardStrickland</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T13:32:32</CreateDate>
    <NodeName Default="Comment - Richard Strickland" />
    <SortOrder>56</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 1:32:32 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[laxotosowi@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1212]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Duis aliquip pariatu]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Richard Strickland]]></Value>
    </cmtName>
  </Properties>
</Content>