<?xml version="1.0" encoding="utf-8"?>
<Content Key="25d95aab-ae14-47ff-a6b0-698fe8d3a2a0" Alias="Comment - Yolanda Spencer" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentYolandaSpencer</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T09:28:31</CreateDate>
    <NodeName Default="Comment - Yolanda Spencer" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 9:28:31 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[nidonefuna@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1212]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Qui id facere obcaec]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Yolanda Spencer]]></Value>
    </cmtName>
  </Properties>
</Content>