<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7106d73-5bbc-4cf9-a471-c1e91a86b75b" Alias="Comment - Natalie Crawford" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentNatalieCrawford</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T11:43:49</CreateDate>
    <NodeName Default="Comment - Natalie Crawford" />
    <SortOrder>55</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 11:43:49 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[pibigabyr@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1216]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Ipsum Nam saepe eaq]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Natalie Crawford]]></Value>
    </cmtName>
  </Properties>
</Content>