<?xml version="1.0" encoding="utf-8"?>
<Content Key="4972aa85-aa7f-4ed3-ba38-f56359f8cb65" Alias="Comment - Caesar Sawyer" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentCaesarSawyer</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-21T15:39:44</CreateDate>
    <NodeName Default="Comment - Caesar Sawyer" />
    <SortOrder>63</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[21/07/2023 15:39:44]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[xufab@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Ducimus consequatur]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Caesar Sawyer]]></Value>
    </cmtName>
  </Properties>
</Content>