<?xml version="1.0" encoding="utf-8"?>
<Content Key="31220913-741e-4e6b-996b-e15ea04c797c" Alias="Comment - Octavia Cohen" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentOctaviaCohen</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:28:37</CreateDate>
    <NodeName Default="Comment - Octavia Cohen" />
    <SortOrder>101</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:28:37]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[qozikorubo@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Culpa quam labore r]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Octavia Cohen]]></Value>
    </cmtName>
  </Properties>
</Content>