<?xml version="1.0" encoding="utf-8"?>
<Content Key="87d9d17d-bebc-4a2d-8543-c4b189c48946" Alias="Comment - Thành Nhân (2)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentThanhNhan2</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-12T16:45:14</CreateDate>
    <NodeName Default="Comment - Thành Nhân (2)" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/12/2023 4:45:14 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1214]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Đồ ăn ngon]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân]]></Value>
    </cmtName>
  </Properties>
</Content>