<?xml version="1.0" encoding="utf-8"?>
<Content Key="12df3607-7438-4fc2-87dd-39d2ced0b144" Alias="Comment - Thành Nhân (7)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentThanhNhan7</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-13T16:27:46</CreateDate>
    <NodeName Default="Comment - Thành Nhân (7)" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/13/2023 4:27:46 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1210]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[ấdsadsa]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân]]></Value>
    </cmtName>
  </Properties>
</Content>