<?xml version="1.0" encoding="utf-8"?>
<Content Key="71e750d1-ed59-42a7-9565-e71a4c9c8e62" Alias="Comment - " Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/Comment</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T16:54:38</CreateDate>
    <NodeName Default="Comment - " />
    <SortOrder>62</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 4:54:38 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1210]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[]]></Value>
    </cmtName>
  </Properties>
</Content>