<?xml version="1.0" encoding="utf-8"?>
<Content Key="b39a9fe0-c893-44f4-8fad-fc528c742e17" Alias="Comment - Thành Nhân 1 (4)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentThanhNhan14</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-14T08:21:58</CreateDate>
    <NodeName Default="Comment - Thành Nhân 1 (4)" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/14/2023 8:21:58 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[âsasa]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân 1]]></Value>
    </cmtName>
  </Properties>
</Content>