<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a838901-5fe8-413b-9b25-5d300f5388e6" Alias="Comment - Blythe Avila" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentBlytheAvila</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:10:42</CreateDate>
    <NodeName Default="Comment - Blythe Avila" />
    <SortOrder>88</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:10:42]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[tozyja@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Aliqua Aliqua Magn]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Blythe Avila]]></Value>
    </cmtName>
  </Properties>
</Content>