<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b044060-e767-495c-a87e-eff0af8d9bd9" Alias="Comment - Aphrodite Petersen" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentAphroditePetersen</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:07:55</CreateDate>
    <NodeName Default="Comment - Aphrodite Petersen" />
    <SortOrder>86</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:07:55]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[manysizi@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Optio laboriosam c]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Aphrodite Petersen]]></Value>
    </cmtName>
  </Properties>
</Content>