<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a6f68b1-d874-4130-9fde-1cbbf3ffed09" Alias="Comment - Risa Hinton" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentRisaHinton</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:19:00</CreateDate>
    <NodeName Default="Comment - Risa Hinton" />
    <SortOrder>94</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:19:00]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[xedawoliv@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Sed magni id quis in]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Risa Hinton]]></Value>
    </cmtName>
  </Properties>
</Content>