<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2c32476-131a-4772-be03-9e094de41f5d" Alias="Comment - Kelsey Oneil" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentKelseyOneil</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-21T15:59:47</CreateDate>
    <NodeName Default="Comment - Kelsey Oneil" />
    <SortOrder>69</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[21/07/2023 15:59:47]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[cepisysij@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Quibusdam ipsum nis]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Kelsey Oneil]]></Value>
    </cmtName>
  </Properties>
</Content>