<?xml version="1.0" encoding="utf-8"?>
<Content Key="7eebe684-8613-4ba8-9174-27b71569f8d7" Alias="Comment - Thành Nhân (12)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentThanhNhan12</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T14:17:53</CreateDate>
    <NodeName Default="Comment - Thành Nhân (12)" />
    <SortOrder>59</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 2:17:53 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1212]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[kkkk]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân]]></Value>
    </cmtName>
  </Properties>
</Content>