<?xml version="1.0" encoding="utf-8"?>
<Content Key="08c471e1-e2ee-458f-a599-64292982b5dd" Alias="Comment - Cullen Mcgee" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentCullenMcgee</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-24T15:22:32</CreateDate>
    <NodeName Default="Comment - Cullen Mcgee" />
    <SortOrder>75</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[24/07/2023 15:22:32]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[lolotone@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1218]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Non veniam et dolor]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Cullen Mcgee]]></Value>
    </cmtName>
  </Properties>
</Content>