<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ff3a6e1-e19a-4e47-b42d-2e29af5003f1" Alias="Comment - Thành Nhân 1" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentThanhNhan1</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-13T08:11:04</CreateDate>
    <NodeName Default="Comment - Thành Nhân 1" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/13/2023 8:11:04 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1218]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[hello ]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân 1]]></Value>
    </cmtName>
  </Properties>
</Content>