<?xml version="1.0" encoding="utf-8"?>
<Content Key="701c86ee-f452-4090-8c07-6ee8f28000fe" Alias="Comment - Thành Nhân 1 (2)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentThanhNhan12</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-13T16:26:31</CreateDate>
    <NodeName Default="Comment - Thành Nhân 1 (2)" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/13/2023 4:26:30 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[lecao11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1210]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[sadsadsadsqw]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân 1]]></Value>
    </cmtName>
  </Properties>
</Content>