<?xml version="1.0" encoding="utf-8"?>
<Content Key="a43a2752-2a36-46f8-81c4-f280ebae5f31" Alias="Comment - Anjolie Douglas" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentAnjolieDouglas</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-21T15:58:32</CreateDate>
    <NodeName Default="Comment - Anjolie Douglas" />
    <SortOrder>68</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[21/07/2023 15:58:32]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[tosycimidu@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1214]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Laudantium nulla il]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Anjolie Douglas]]></Value>
    </cmtName>
  </Properties>
</Content>