<?xml version="1.0" encoding="utf-8"?>
<Content Key="55f6a097-7955-4ec6-bf8e-ccfd39783371" Alias="Comment - string" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentString</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T09:57:45</CreateDate>
    <NodeName Default="Comment - string" />
    <SortOrder>80</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 09:57:45]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[string]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[string]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[string]]></Value>
    </cmtName>
  </Properties>
</Content>