<?xml version="1.0" encoding="utf-8"?>
<Content Key="f956a0f2-8009-42ff-b365-7f662f08dc58" Alias="Comment - Thaddeus Horne" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentThaddeusHorne</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:07:09</CreateDate>
    <NodeName Default="Comment - Thaddeus Horne" />
    <SortOrder>85</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:07:09]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[hupi@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Blanditiis et eum qu]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thaddeus Horne]]></Value>
    </cmtName>
  </Properties>
</Content>