<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b9d7ab9-acc6-466d-b270-29be0e16a497" Alias="Comment - Calista Compton" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentCalistaCompton</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T10:12:00</CreateDate>
    <NodeName Default="Comment - Calista Compton" />
    <SortOrder>46</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 10:12:00 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[sogimequpa@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Est consectetur dict]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Calista Compton]]></Value>
    </cmtName>
  </Properties>
</Content>