<?xml version="1.0" encoding="utf-8"?>
<Content Key="59813e35-1387-491b-bb21-cde55628ea5d" Alias="Comment - Rigel Meyer" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentRigelMeyer</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-23T16:04:21</CreateDate>
    <NodeName Default="Comment - Rigel Meyer" />
    <SortOrder>72</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[23/07/2023 16:04:21]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[dalo@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1216]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Modi sed dolore illo]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Rigel Meyer]]></Value>
    </cmtName>
  </Properties>
</Content>