<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f5e7100-7f1f-4222-8eed-a78c982dc6b0" Alias="Comment - Thành Nhân (12)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CommentThanhNhan12</Path>
    <Trashed Parent="8efaaa3d-979b-483f-9248-ce8234effe32">true</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T08:50:57</CreateDate>
    <NodeName Default="Comment - Thành Nhân (12)" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 8:50:57 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[111]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[sssssssssssssssssss]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân]]></Value>
    </cmtName>
  </Properties>
</Content>