<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c0bd5c8-873d-4e0f-b21c-ba7685ded92d" Alias="Comment - Ginger Levine" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentGingerLevine</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-21T15:58:26</CreateDate>
    <NodeName Default="Comment - Ginger Levine" />
    <SortOrder>67</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[21/07/2023 15:58:26]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[qicytuw@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1214]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Enim eos neque alia]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Ginger Levine]]></Value>
    </cmtName>
  </Properties>
</Content>