<?xml version="1.0" encoding="utf-8"?>
<Content Key="248c4b85-e1c9-4fd4-bd2d-2cf8fb6e21d9" Alias="Comment -  (13)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/Comment13</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-23T16:04:23</CreateDate>
    <NodeName Default="Comment -  (13)" />
    <SortOrder>73</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[23/07/2023 16:04:23]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1216]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[]]></Value>
    </cmtName>
  </Properties>
</Content>