<?xml version="1.0" encoding="utf-8"?>
<Content Key="9eea585d-bd53-4a11-9132-eadd46cfdb67" Alias="Comment (5)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Comment5</Path>
    <Trashed Parent="8efaaa3d-979b-483f-9248-ce8234effe32">true</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-11T16:30:12</CreateDate>
    <NodeName Default="Comment (5)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[0]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[21321321]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Nhân Lê]]></Value>
    </cmtName>
  </Properties>
</Content>