<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e237700-feca-4287-9971-38b34cf5f5a7" Alias="Comment - Nhân Lê (2)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentNhanLe2</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-12T15:33:20</CreateDate>
    <NodeName Default="Comment - Nhân Lê (2)" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/12/2023 3:33:19 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1210]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[hello]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Nhân Lê]]></Value>
    </cmtName>
  </Properties>
</Content>