<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ec36ae1-f27e-4ebf-903b-22e5b1a9d5d8" Alias="Comment - Thế Vinh (4)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentTheVinh4</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-13T08:17:26</CreateDate>
    <NodeName Default="Comment - Thế Vinh (4)" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/13/2023 8:17:26 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[lecao11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1218]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[sdsadsa]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thế Vinh]]></Value>
    </cmtName>
  </Properties>
</Content>