<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0880214-6e6a-49a7-9fd1-489730dcbce3" Alias="Comment - Thế Vinh (1)" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/CommentTheVinh1</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-26T16:20:05</CreateDate>
    <NodeName Default="Comment - Thế Vinh (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[2023-07-26T16:20:05]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Thế Vinh]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[10]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[0905669865]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-26T16:20:05]]></Value>
    </reservationTime>
  </Properties>
</Content>