<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9807c37-34d9-455e-a942-dde5f07ae81e" Alias="Comment-1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Comment1</Path>
    <Trashed Parent="8efaaa3d-979b-483f-9248-ce8234effe32">true</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-11T13:39:19</CreateDate>
    <NodeName Default="Comment-1" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/20/2023 12:00:00 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[lecao11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1218]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[<p>Đẹp quá trời ơi !!!</p>]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[<p>Nhân Thành</p>]]></Value>
    </cmtName>
  </Properties>
</Content>