<?xml version="1.0" encoding="utf-8"?>
<Content Key="773f7639-5a6f-448c-8879-c4b4c018a421" Alias="Comment (3)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/Comment3</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-12T09:13:30</CreateDate>
    <NodeName Default="Comment (3)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/12/2023 9:13:30 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[lecao11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Hello]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thế Vinh]]></Value>
    </cmtName>
  </Properties>
</Content>