<?xml version="1.0" encoding="utf-8"?>
<Content Key="532a5cb9-9ca3-4b12-82d5-361bb4269132" Alias="Comment - Thành Nhân (5)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentThanhNhan5</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-13T15:54:15</CreateDate>
    <NodeName Default="Comment - Thành Nhân (5)" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/13/2023 3:54:15 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1212]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[slkdlskald]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân]]></Value>
    </cmtName>
  </Properties>
</Content>