<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf76b07a-19f5-4047-a259-42201c73c54d" Alias="Comment - Thế Vinh (3)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentTheVinh3</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-12T16:56:11</CreateDate>
    <NodeName Default="Comment - Thế Vinh (3)" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/12/2023 4:56:11 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1212]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Hello]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thế Vinh]]></Value>
    </cmtName>
  </Properties>
</Content>