<?xml version="1.0" encoding="utf-8"?>
<Content Key="dab5579d-0cc5-454c-b47f-ee95a3449dc1" Alias="Comment (5)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/Comment5</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-12T09:28:36</CreateDate>
    <NodeName Default="Comment (5)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/12/2023 9:28:36 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[dsds]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[sdsdsdsds]]></Value>
    </cmtName>
  </Properties>
</Content>