<?xml version="1.0" encoding="utf-8"?>
<Content Key="abb11043-5c6b-4522-8b93-2f3f24da5f51" Alias="Comment - Anastasia Day" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentAnastasiaDay</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:15:41</CreateDate>
    <NodeName Default="Comment - Anastasia Day" />
    <SortOrder>92</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:15:41]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[jodi@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Ratione et ad veniam]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Anastasia Day]]></Value>
    </cmtName>
  </Properties>
</Content>