<?xml version="1.0" encoding="utf-8"?>
<Content Key="19323361-b358-460b-81e7-6928e1b57182" Alias="Comment - Madison Leach" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentMadisonLeach</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:14:14</CreateDate>
    <NodeName Default="Comment - Madison Leach" />
    <SortOrder>91</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:14:14]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[kuhizyv@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[In eum voluptates de]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Madison Leach]]></Value>
    </cmtName>
  </Properties>
</Content>