<?xml version="1.0" encoding="utf-8"?>
<Content Key="51beaf86-c8d4-4ac0-b067-9fec8d0d0d91" Alias="Comment - Martina Flowers" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/TrangChu/Comments/CommentMartinaFlowers</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-27T10:06:45</CreateDate>
    <NodeName Default="Comment - Martina Flowers" />
    <SortOrder>84</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[27/07/2023 10:06:45]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[fahekehi@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1345]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Corporis consequatur]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Martina Flowers]]></Value>
    </cmtName>
  </Properties>
</Content>