<?xml version="1.0" encoding="utf-8"?>
<Content Key="8fd39d51-0fc9-4aba-b033-e863b0536c99" Alias="Comment - Tanner Gallegos" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentTannerGallegos</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T10:12:08</CreateDate>
    <NodeName Default="Comment - Tanner Gallegos" />
    <SortOrder>47</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 10:12:08 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[topodaw@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Quas mollitia delect]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Tanner Gallegos]]></Value>
    </cmtName>
  </Properties>
</Content>