<?xml version="1.0" encoding="utf-8"?>
<Content Key="e68a8af3-7ca5-467a-b240-3ce6db3591df" Alias="Comment - Thành Nhân 1 (3)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentThanhNhan13</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-13T23:41:37</CreateDate>
    <NodeName Default="Comment - Thành Nhân 1 (3)" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/13/2023 11:41:37 PM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1218]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[dsadsadsa]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Thành Nhân 1]]></Value>
    </cmtName>
  </Properties>
</Content>