<?xml version="1.0" encoding="utf-8"?>
<Content Key="6aa4b661-8e36-4601-8225-f1a777c96814" Alias="Comment - Lê Cao Thành Nhân (5)" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentLeCaoThanhNhan5</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T08:49:33</CreateDate>
    <NodeName Default="Comment - Lê Cao Thành Nhân (5)" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 8:49:33 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[111]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[dddddddd]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Lê Cao Thành Nhân]]></Value>
    </cmtName>
  </Properties>
</Content>