<?xml version="1.0" encoding="utf-8"?>
<Content Key="24cae199-b407-45e9-bb9e-8323accbb61e" Alias="Comment - Mira Walters" Level="3">
  <Info>
    <Parent Key="8efaaa3d-979b-483f-9248-ce8234effe32">Comments</Parent>
    <Path>/Home/Comments/CommentMiraWalters</Path>
    <Trashed>false</Trashed>
    <ContentType>comment</ContentType>
    <CreateDate>2023-07-18T10:10:30</CreateDate>
    <NodeName Default="Comment - Mira Walters" />
    <SortOrder>45</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cmtDate>
      <Value><![CDATA[7/18/2023 10:10:30 AM]]></Value>
    </cmtDate>
    <cmtEmail>
      <Value><![CDATA[lyzuto@mailinator.com]]></Value>
    </cmtEmail>
    <cmtID>
      <Value><![CDATA[1208]]></Value>
    </cmtID>
    <cmtMessage>
      <Value><![CDATA[Incidunt laborum D]]></Value>
    </cmtMessage>
    <cmtName>
      <Value><![CDATA[Mira Walters]]></Value>
    </cmtName>
  </Properties>
</Content>