<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf6b8cf6-7243-4c39-825c-ab437ee9e524" Alias="Cá Hồi Ngâm Mắm" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/CaHoiNgamMam</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:21:24</CreateDate>
    <NodeName Default="Cá Hồi Ngâm Mắm">
      <Name Culture="en-us">Marinated Salmon</Name>
      <Name Culture="vi">Cá Hồi Ngâm Mắm</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "1debef9f-5e4f-4f85-bae1-25fd199ce5f6",
    "mediaKey": "24f7666b-5cfa-44a4-a0f3-050f59fea04f"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "db062bd6-c8a9-45dc-87ee-e84a995efae3",
    "mediaKey": "24f7666b-5cfa-44a4-a0f3-050f59fea04f"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Cá hồi, mắm]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Marinated Salmon]]></Value>
      <Value Culture="vi"><![CDATA[Cá Hồi Ngâm Mắm]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Dinner"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Dinner"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "13ef0b6d-acea-44ba-8da9-ff7553dc7d7f",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>