<?xml version="1.0" encoding="utf-8"?>
<Content Key="c30ff26a-1ca7-40aa-acf2-5cf31028dc22" Alias="Cá Ngừ Đại Dương" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/CaNguDaiDuong</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:10:12</CreateDate>
    <NodeName Default="Cá Ngừ Đại Dương">
      <Name Culture="en-us">Tuna</Name>
      <Name Culture="vi">Cá Ngừ Đại Dương</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "aa7b319e-f5b9-4a92-88e1-eb6d62779b37",
    "mediaKey": "534af5bf-d1d4-4eb6-8714-da027738a83f"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "0b8557bb-eaf6-4636-9c21-6e07e63a2ff8",
    "mediaKey": "534af5bf-d1d4-4eb6-8714-da027738a83f"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Cá Ngừ, cà chua, rau]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Tuna]]></Value>
      <Value Culture="vi"><![CDATA[Cá Ngừ Đại Dương]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Breakfast"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Breakfast"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "1f8ddcf1-0188-4139-aa28-9487fc09a790",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>