<?xml version="1.0" encoding="utf-8"?>
<Content Key="12fd7aff-9f69-4771-967e-2d1f0f7060d8" Alias="Giới Thiệu" Level="2">
  <Info>
    <Parent Key="b3eba053-4ea7-47cf-96ee-2997ee55d03a">Trang Chủ</Parent>
    <Path>/TrangChu/GioiThieu</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2023-06-22T15:02:05</CreateDate>
    <NodeName Default="Giới Thiệu">
      <Name Culture="en-us">About</Name>
      <Name Culture="vi">Giới Thiệu</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="cca51bcd-422d-4766-b667-377face4547f">About</Template>
  </Info>
  <Properties>
    <aboutContent>
      <Value Culture="en-us"><![CDATA[<div class="heading-section mt-5 mb-4">
<div class="pl-lg-5 ml-md-5">
<h2 class="mb-4">Welcome to LCTNhan Restaurant</h2>
</div>
</div>
<div class="pl-lg-5 ml-md-5">
<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
</div>]]></Value>
      <Value Culture="vi"><![CDATA[<div class="heading-section mt-5 mb-4">
<div class="pl-lg-5 ml-md-5">
<p><em><strong>Chào mừng đến với nhà hàng LCTNhan</strong></em></p>
<p>Trên đường đi, cô gặp một bản sao. Bản sao đã cảnh báo Little Blind Text rằng nguồn gốc của nó sẽ được viết lại hàng nghìn lần và mọi thứ còn lại từ nguồn gốc của nó sẽ là từ "và" và Little Blind Text nên quay lại và trở về với chính nó. đất nước an toàn. Một con sông nhỏ tên là Duden chảy ngang qua vị trí của họ và cung cấp cho nó những thứ cần thiết. Đó là một đất nước thiên đường, trong đó những phần nướng của câu bay vào miệng bạn.</p>
</div>
</div>]]></Value>
    </aboutContent>
    <aboutContent1>
      <Value Culture="en-us"><![CDATA[<h2 class="mb-4">We Love Healthy and Natural Foods</h2>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>]]></Value>
      <Value Culture="vi"><![CDATA[<div class="container">
<div class="row justify-content-center mb-5 pb-2">
<div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
<p> </p>
<p><em><strong>Chúng tôi yêu thực phẩm lành mạnh và tự nhiên</strong></em></p>
<p>Một con sông nhỏ tên là Duden chảy ngang qua vị trí của họ và cung cấp cho nó những thứ cần thiết. Đó là một đất nước thiên đường, trong đó những phần nướng của câu bay vào miệng bạn.</p>
</div>
</div>
</div>]]></Value>
    </aboutContent1>
    <aboutContentPicture>
      <Value><![CDATA[[
  {
    "key": "aad30908-2411-426f-b2ac-7d6a12356e79",
    "mediaKey": "6fbbaf52-8943-4cc5-a636-763d7c09ad99"
  }
]]]></Value>
    </aboutContentPicture>
    <aboutTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </aboutTitle>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "96aa1ad8-de5b-4797-96ec-4bf37b94c846",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[
  {
    "key": "2d2c368d-84ea-4e40-b155-c47b17216b02",
    "mediaKey": "1f2fb150-6c01-4ea9-bb3c-c2769c092e02"
  }
]]]></Value>
    </imageBanner1>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
  </Properties>
</Content>