<?xml version="1.0" encoding="utf-8"?>
<Content Key="411cd83f-9d9d-41ce-9636-cf81369afdc8" Alias="Gà Nướng Nguyên Con" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/GaNuongNguyenCon</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:18:56</CreateDate>
    <NodeName Default="Gà Nướng Nguyên Con">
      <Name Culture="en-us">Whole Grilled Chicken</Name>
      <Name Culture="vi">Gà Nướng Nguyên Con</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c7f28030-a1c1-4d62-976e-dd931bd729d6",
    "mediaKey": "a3c2377e-a947-4d20-876a-d7b8ebcbe7ad"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "ef107ab3-ccac-42dd-8739-dd9c5bbfd981",
    "mediaKey": "a3c2377e-a947-4d20-876a-d7b8ebcbe7ad"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Gà]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Whole Grilled Chicken]]></Value>
      <Value Culture="vi"><![CDATA[Gà Nướng Nguyên Con]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Lunch"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Lunch"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "1bdb7928-88a9-486e-a77b-f0a2a449373f",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>