<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ca7f27b-afd5-4640-ad87-967c7547050b" Alias="Gà Nướng" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/GaNuong</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:15:33</CreateDate>
    <NodeName Default="Gà Nướng">
      <Name Culture="en-us">BBQ Chicken</Name>
      <Name Culture="vi">Gà Nướng</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "4540ed80-6521-4df1-b0e8-2368d188b22e",
    "mediaKey": "ed6bb58e-8f4b-4351-9c9b-a67ce66156f7"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "e4e1c49b-0b1e-4d20-bec0-aa3f54f42783",
    "mediaKey": "ed6bb58e-8f4b-4351-9c9b-a67ce66156f7"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Gà, rau]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[BBQ Chicken]]></Value>
      <Value Culture="vi"><![CDATA[Gà Nướng]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Lunch"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Lunch"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "2f357d3d-f71f-478d-8d2c-362c537eb195",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>