<?xml version="1.0" encoding="utf-8"?>
<Content Key="489d2db8-bb56-4cb5-ab3b-206f52e6c43d" Alias="Gà Chiên Hấp" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/GaChienHap</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:18:20</CreateDate>
    <NodeName Default="Gà Chiên Hấp">
      <Name Culture="en-us">Steamed Fried Chicken</Name>
      <Name Culture="vi">Gà Chiên Hấp</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "fa230e61-512d-4085-b079-1b5ec5d4d6d2",
    "mediaKey": "ecb62f96-7b02-41cb-b3f9-e3b281a22e38"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "c5d5dc06-3c95-48c0-93d8-be5cb591c7d6",
    "mediaKey": "ecb62f96-7b02-41cb-b3f9-e3b281a22e38"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Gà]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Steamed Fried Chicken]]></Value>
      <Value Culture="vi"><![CDATA[Gà Chiên Hấp]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Lunch"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Lunch"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "2f0bfd4c-0f00-483c-acdd-0b5bd04f7420",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>