<?xml version="1.0" encoding="utf-8"?>
<Content Key="848bfd3a-f812-4dd6-bee3-d1907f68db8d" Alias="Gỏi Mực" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/GoiMuc</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:06:35</CreateDate>
    <NodeName Default="Gỏi Mực">
      <Name Culture="en-us">Squid salad</Name>
      <Name Culture="vi">Gỏi Mực</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "94c0aefb-be4a-46ad-be80-8fc315655754",
    "mediaKey": "3eab4f93-ec64-4158-aa3e-66b9ad84199b"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "21c29515-8096-4d7b-96d5-baada774b9ad",
    "mediaKey": "3eab4f93-ec64-4158-aa3e-66b9ad84199b"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Mực]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Squid salad]]></Value>
      <Value Culture="vi"><![CDATA[Gỏi Mực]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Breakfast"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Breakfast"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "c307a2ee-12f7-4af7-99af-6ed85ee385bd",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>