<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3acf42c-e4a4-4d51-acc7-6e23e4218554" Alias="Hải Sản" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/HaiSan</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:17:09</CreateDate>
    <NodeName Default="Hải Sản">
      <Name Culture="en-us">Seafood</Name>
      <Name Culture="vi">Hải Sản</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "2b8ff1ca-fbba-46fc-9fbd-84f418728d42",
    "mediaKey": "17e14231-a5ae-4935-aeae-5faefe5b66de"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "bdf8ce39-622d-4b3a-b544-8f82eb8ee239",
    "mediaKey": "17e14231-a5ae-4935-aeae-5faefe5b66de"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Hầu, Tôm, Mực]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Seafood]]></Value>
      <Value Culture="vi"><![CDATA[Hải Sản]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Lunch"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Lunch"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "f9ba121d-495d-4519-81b7-affe7476ded0",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>