<?xml version="1.0" encoding="utf-8"?>
<Content Key="13dcf4a9-afc0-4380-92b4-d57df4f9a212" Alias="Jo Han Sờ Mút" Level="3">
  <Info>
    <Parent Key="705e77ee-b1f4-4761-996d-a64a992ab347">Chefs</Parent>
    <Path>/TrangChu/Chefs/JoHanSoMut</Path>
    <Trashed>false</Trashed>
    <ContentType>chef</ContentType>
    <CreateDate>2023-06-26T10:59:39</CreateDate>
    <NodeName Default="Jo Han Sờ Mút">
      <Name Culture="en-us">John Smooth</Name>
      <Name Culture="vi">Jo Han Sờ Mút</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <chefBIO>
      <Value Culture="en-us"><![CDATA[I am an ambitious workaholic, but apart from that, pretty simple person.]]></Value>
      <Value Culture="vi"><![CDATA[Tôi là một người nghiện công việc đầy tham vọng, nhưng bên cạnh đó, tôi là một người khá đơn giản.]]></Value>
    </chefBIO>
    <chefImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ac07da4a-0cae-4ae2-b5b1-d6956f64ddcd",
    "mediaKey": "fe209245-dbde-47b9-ac64-9811d623464e"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "c5be3c51-bc49-41f0-ae1a-bbb57c6a2624",
    "mediaKey": "fe209245-dbde-47b9-ac64-9811d623464e"
  }
]]]></Value>
    </chefImage>
    <chefName>
      <Value Culture="en-us"><![CDATA[John Smooth]]></Value>
      <Value Culture="vi"><![CDATA[Jo Han Sờ Mút]]></Value>
    </chefName>
    <chefPosition>
      <Value Culture="en-us"><![CDATA[CEO, Co Founder]]></Value>
      <Value Culture="vi"><![CDATA[CEO, Đồng Sáng Lập]]></Value>
    </chefPosition>
    <fBProfileLink>
      <Value Culture="en-us"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
      <Value Culture="vi"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
    </fBProfileLink>
    <gGProfileLink>
      <Value Culture="en-us"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
      <Value Culture="vi"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
    </gGProfileLink>
    <instagramProfileLink>
      <Value Culture="en-us"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
      <Value Culture="vi"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
    </instagramProfileLink>
    <twitterProfileLink>
      <Value Culture="en-us"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
      <Value Culture="vi"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
    </twitterProfileLink>
  </Properties>
</Content>