<?xml version="1.0" encoding="utf-8"?>
<Content Key="832433d3-a078-4201-86bd-e7b2b51c9a61" Alias="Kem Ốc Quế" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/KemOcQue</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:33:30</CreateDate>
    <NodeName Default="Kem Ốc Quế">
      <Name Culture="en-us">Cinnamon Snail Ice Cream</Name>
      <Name Culture="vi">Kem Ốc Quế</Name>
    </NodeName>
    <SortOrder>26</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "bdadb640-e937-495a-a5d6-b4c7890ea793",
    "mediaKey": "48549876-2cd5-4317-9bc9-a5234e07a9c1"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "480c29d0-370a-41c0-8be6-c5e7e7a48841",
    "mediaKey": "48549876-2cd5-4317-9bc9-a5234e07a9c1"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Kem, Bánh]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Cinnamon Snail Ice Cream]]></Value>
      <Value Culture="vi"><![CDATA[Kem Ốc Quế]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Desserts"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Desserts"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "71ca0347-ae25-4bac-826a-c3a50570fb0a",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>