<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ab9a318-4b89-4e03-9b91-b311292fd797" Alias="Kem BuChi" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/KemBuChi</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:34:10</CreateDate>
    <NodeName Default="Kem BuChi">
      <Name Culture="en-us">BuChi . ice cream</Name>
      <Name Culture="vi">Kem BuChi</Name>
    </NodeName>
    <SortOrder>27</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "6b963e23-539a-4c62-886e-44c1efc328fc",
    "mediaKey": "03cbfdfb-542b-4889-8f3f-3c6c374d4e5b"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "f1d17f3b-4d3d-4c45-93f0-e1b3637f595f",
    "mediaKey": "03cbfdfb-542b-4889-8f3f-3c6c374d4e5b"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Kem]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[BuChi . ice cream]]></Value>
      <Value Culture="vi"><![CDATA[Kem BuChi]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Desserts"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Desserts"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "99952822-45ad-4ba2-b0d7-40eb5da56b77",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>