<?xml version="1.0" encoding="utf-8"?>
<Content Key="dab6fd8f-3357-4dbc-9c3f-aa200d0b7921" Alias="Liên Hệ" Level="2">
  <Info>
    <Parent Key="b3eba053-4ea7-47cf-96ee-2997ee55d03a">Trang Chủ</Parent>
    <Path>/TrangChu/LienHe</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2023-06-22T17:10:04</CreateDate>
    <NodeName Default="Liên Hệ">
      <Name Culture="en-us">Contact</Name>
      <Name Culture="vi">Liên Hệ</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="c43c712a-e37d-4547-9f62-1f6b0abe5091">Contact</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-us"><![CDATA[Address: ]]></Value>
      <Value Culture="vi"><![CDATA[Địa Chỉ: ]]></Value>
    </address>
    <contactAddress>
      <Value Culture="en-us"><![CDATA[157 Nguyen Duc Canh, Thuan Phuoc, Hai Chau, Da Nang]]></Value>
      <Value Culture="vi"><![CDATA[157 Nguyễn Đức Cảnh, Thuận Phước, Hải Châu, Đà Nẵng]]></Value>
    </contactAddress>
    <contactContent>
      <Value Culture="en-us"><![CDATA[Contact Information]]></Value>
      <Value Culture="vi"><![CDATA[Thông Tin Liên Hệ]]></Value>
    </contactContent>
    <contactEmail>
      <Value Culture="en-us"><![CDATA[lecao11102001@gmail.com]]></Value>
      <Value Culture="vi"><![CDATA[lecao11102001@gmail.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value Culture="en-us"><![CDATA[+84 905 669 865]]></Value>
      <Value Culture="vi"><![CDATA[+84 905 669 865]]></Value>
    </contactPhone>
    <contactTitle>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="vi"><![CDATA[Liên Hệ Chúng Tôi]]></Value>
    </contactTitle>
    <contactWebsite>
      <Value Culture="en-us"><![CDATA[facebook.com/ L.C.T.N.XuMuMMiM]]></Value>
      <Value Culture="vi"><![CDATA[facebook.com/ L.C.T.N.XuMuMMiM]]></Value>
    </contactWebsite>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "16e37d19-9c30-4763-bc4f-1a6057c1d3ab",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <phone>
      <Value Culture="en-us"><![CDATA[Phone: ]]></Value>
      <Value Culture="vi"><![CDATA[Điện Thoại: ]]></Value>
    </phone>
  </Properties>
</Content>