<?xml version="1.0" encoding="utf-8"?>
<Content Key="3850acf4-23ea-4ab5-b1f6-a06e4cfd144c" Alias="Lũ Kẹ Sĩ Môn" Level="3">
  <Info>
    <Parent Key="705e77ee-b1f4-4761-996d-a64a992ab347">Chefs</Parent>
    <Path>/TrangChu/Chefs/LuKeSiMon</Path>
    <Trashed>false</Trashed>
    <ContentType>chef</ContentType>
    <CreateDate>2023-06-26T11:03:05</CreateDate>
    <NodeName Default="Lũ Kẹ Sĩ Môn">
      <Name Culture="en-us">Luke Simon</Name>
      <Name Culture="vi">Lũ Kẹ Sĩ Môn</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <chefBIO>
      <Value Culture="en-us"><![CDATA[I am an ambitious workaholic, but apart from that, pretty simple person.]]></Value>
      <Value Culture="vi"><![CDATA[Tôi là một người nghiện công việc đầy tham vọng, nhưng bên cạnh đó, tôi là một người khá đơn giản.]]></Value>
    </chefBIO>
    <chefImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "cb74e592-a909-42e7-9739-9a1df1179e57",
    "mediaKey": "136f7768-3bc3-4ceb-a55c-d728cacb428e"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "3e26a6e3-e46a-482c-a395-7d787be0a039",
    "mediaKey": "136f7768-3bc3-4ceb-a55c-d728cacb428e"
  }
]]]></Value>
    </chefImage>
    <chefName>
      <Value Culture="en-us"><![CDATA[Luke Simon]]></Value>
      <Value Culture="vi"><![CDATA[Lũ Kẹ Sĩ Môn]]></Value>
    </chefName>
    <chefPosition>
      <Value Culture="en-us"><![CDATA[Chef]]></Value>
      <Value Culture="vi"><![CDATA[Đầu Bếp]]></Value>
    </chefPosition>
    <fBProfileLink>
      <Value Culture="en-us"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
      <Value Culture="vi"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
    </fBProfileLink>
    <gGProfileLink>
      <Value Culture="en-us"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
      <Value Culture="vi"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
    </gGProfileLink>
    <instagramProfileLink>
      <Value Culture="en-us"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
      <Value Culture="vi"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
    </instagramProfileLink>
    <twitterProfileLink>
      <Value Culture="en-us"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
      <Value Culture="vi"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
    </twitterProfileLink>
  </Properties>
</Content>