<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b1f777b-30b3-49c2-88da-94300260b1ec" Alias="Mì Ý" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/MiY</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:22:12</CreateDate>
    <NodeName Default="Mì Ý">
      <Name Culture="en-us">Pasta</Name>
      <Name Culture="vi">Mì Ý</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ab8e264f-893e-4d18-9e8a-5662f5f3ba27",
    "mediaKey": "01cac389-26f3-4740-a077-55fdbaacf964"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "5bd6e451-adb3-400a-a5d7-a5d45e6157ed",
    "mediaKey": "01cac389-26f3-4740-a077-55fdbaacf964"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Mì, Tôm]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Pasta]]></Value>
      <Value Culture="vi"><![CDATA[Mì Ý]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Dinner"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Dinner"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "035f8387-a6a2-46d5-aeca-de0a2a74249d",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>