<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e529747-5367-4ccf-a55c-0198a0cee610" Alias="Mì Xào" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/MiXao</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T10:09:27</CreateDate>
    <NodeName Default="Mì Xào">
      <Name Culture="en-us">Fried noodles</Name>
      <Name Culture="vi">Mì Xào</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "3195fd63-5891-4c8e-8b77-d047d54be1ea",
    "mediaKey": "c7ec3fa7-4f90-4256-b25f-690a8d1fe01a"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "6232561e-38ed-4be4-b50b-ff47cde7f5c4",
    "mediaKey": "c7ec3fa7-4f90-4256-b25f-690a8d1fe01a"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Thịt, Khoai tây, Gạo, Cà chua]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Fried noodles]]></Value>
      <Value Culture="vi"><![CDATA[Mì Xào]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Breakfast"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Breakfast"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "c4bad9b0-b433-44c5-858b-1e64e984cfe1",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>