<?xml version="1.0" encoding="utf-8"?>
<Content Key="46b0cf63-855e-4d9b-881b-2abcf700e97c" Alias="Mực Chiên" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/MucChien</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:16:05</CreateDate>
    <NodeName Default="Mực Chiên">
      <Name Culture="en-us">Fried Squid</Name>
      <Name Culture="vi">Mực Chiên</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "472f37fd-e299-4313-afb6-46f0acbc9f77",
    "mediaKey": "de06065e-c19a-4e93-8874-41353272a88f"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "c3b7d9bc-a5c4-4dd4-94f3-e508ae1604e5",
    "mediaKey": "de06065e-c19a-4e93-8874-41353272a88f"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Mực]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Fried Squid]]></Value>
      <Value Culture="vi"><![CDATA[Mực Chiên ]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Lunch"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Lunch"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "e124751a-7d7b-48e0-b9e7-bd6d2c72f101",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>