<?xml version="1.0" encoding="utf-8"?>
<Content Key="901f7edc-c653-4e8f-ad93-03152e65351a" Alias="Ngũ Cốc Chuối" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/NguCocChuoi</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:07:18</CreateDate>
    <NodeName Default="Ngũ Cốc Chuối">
      <Name Culture="en-us">Banana Cereal</Name>
      <Name Culture="vi">Ngũ Cốc Chuối</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "41c6d022-e43a-47fd-a464-d668623e4329",
    "mediaKey": "704067fa-5475-4a5a-9a9a-099a23d4a65b"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "bbe78485-e4e5-4aa4-9977-b410f54c19e0",
    "mediaKey": "704067fa-5475-4a5a-9a9a-099a23d4a65b"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Bột ngũ cốc, chuối]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Banana Cereal]]></Value>
      <Value Culture="vi"><![CDATA[Ngũ Cốc Chuối]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Breakfast"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Breakfast"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "44dc30b8-37a7-4d30-926e-1dfcc8c651b8",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>