<?xml version="1.0" encoding="utf-8"?>
<Content Key="e78294a4-0d3a-448b-8d05-1f7ae4adf92b" Alias="Ngũ Cốc Dâu Tây" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/NguCocDauTay</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:10:43</CreateDate>
    <NodeName Default="Ngũ Cốc Dâu Tây">
      <Name Culture="en-us">Strawberry Cereal</Name>
      <Name Culture="vi">Ngũ Cốc Dâu Tây</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "65d048c7-c8c4-4ee3-ad77-b888180305a5",
    "mediaKey": "984b356d-7f7d-4602-b961-73ffb4b2f8f5"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "318538e2-89c6-4cf8-8287-823f50f5b317",
    "mediaKey": "984b356d-7f7d-4602-b961-73ffb4b2f8f5"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Thịt, Khoai tây, Gạo, Cà chua]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Strawberry Cereal]]></Value>
      <Value Culture="vi"><![CDATA[Ngũ Cốc Dâu Tây]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Breakfast"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Breakfast"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "0e729407-87cf-4293-9897-fe47ae89ac86",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>