<?xml version="1.0" encoding="utf-8"?>
<Content Key="685725bb-2ade-4a6a-bd24-f2a3468ed3af" Alias="Nước Dâu Chanh" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/NuocDauChanh</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:40:27</CreateDate>
    <NodeName Default="Nước Dâu Chanh">
      <Name Culture="en-us">Strawberry Lemonade</Name>
      <Name Culture="vi">Nước Dâu Chanh</Name>
    </NodeName>
    <SortOrder>36</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "b5b9cded-81c0-49ff-8278-a2f02b3cb740",
    "mediaKey": "1afd0021-2b30-497d-97d0-7056f3e59132"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "ac821d5b-9c69-4ef2-9ae7-d4ee45d0ca18",
    "mediaKey": "1afd0021-2b30-497d-97d0-7056f3e59132"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Thịt, Khoai tây, Gạo, Cà chua]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Strawberry Lemonade]]></Value>
      <Value Culture="vi"><![CDATA[Nước Dâu Chanh]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Drinks"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Drinks"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "d8c488df-e77e-407d-a186-2136ecc64405",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>