<?xml version="1.0" encoding="utf-8"?>
<Content Key="d41ae82b-fd19-4bb6-9d93-76ce1b072014" Alias="Nước Chanh" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/NuocChanh</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:40:57</CreateDate>
    <NodeName Default="Nước Chanh">
      <Name Culture="en-us">Lemonade</Name>
      <Name Culture="vi">Nước Chanh</Name>
    </NodeName>
    <SortOrder>37</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "39ff383a-acc2-40c6-b64a-7afb4bddb5bc",
    "mediaKey": "b771ec14-ea3e-417a-a7fb-fddbc8d0c67c"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "97136f59-0f36-4c61-9df9-f704c0c11482",
    "mediaKey": "b771ec14-ea3e-417a-a7fb-fddbc8d0c67c"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Chanh, nước]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Lemonade]]></Value>
      <Value Culture="vi"><![CDATA[Nước Chanh]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Drinks"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Drinks"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "98fcaff4-542d-4f10-8eae-60357ea65040",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>