<?xml version="1.0" encoding="utf-8"?>
<Content Key="6662d9cc-39a9-498c-bc3b-9aabb3a3f7b4" Alias="Nước Cam" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/NuocCam</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:41:23</CreateDate>
    <NodeName Default="Nước Cam">
      <Name Culture="en-us">Orange juice</Name>
      <Name Culture="vi">Nước Cam</Name>
    </NodeName>
    <SortOrder>38</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "4878338c-a985-4bbe-afb6-bade5ecce112",
    "mediaKey": "d9acc37c-eb67-4113-af4d-45e741cc1397"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "a0242c9a-35cd-402a-b6e5-599151f6f316",
    "mediaKey": "d9acc37c-eb67-4113-af4d-45e741cc1397"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Cam]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Orange juice]]></Value>
      <Value Culture="vi"><![CDATA[Nước Cam]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Drinks"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Drinks"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "06acfe49-0728-42bf-9aef-4c001a8a93d8",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>