<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa9120d9-8dfe-4eb5-ab6e-fe221e1c3844" Alias="Nước Táo" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/NuocTao</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:42:42</CreateDate>
    <NodeName Default="Nước Táo">
      <Name Culture="en-us">Apple juice</Name>
      <Name Culture="vi">Nước Táo</Name>
    </NodeName>
    <SortOrder>40</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "09f5c844-b9e7-48ef-a5b9-0e1211024bc6",
    "mediaKey": "ccc18368-83e2-4250-80fe-810a3a58aa94"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "f8a7885f-06e8-42ed-ac52-cc0bf9b14d7a",
    "mediaKey": "ccc18368-83e2-4250-80fe-810a3a58aa94"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Táo]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Apple juice]]></Value>
      <Value Culture="vi"><![CDATA[Nước Táo]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Drinks"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Drinks"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "f5dfee05-e564-470b-a5bc-47393d1815bd",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>