<?xml version="1.0" encoding="utf-8"?>
<Content Key="bab619f9-b2cd-494e-ae0b-275fda752d9a" Alias="Nước Hồng Trà" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/NuocHongTra</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:43:26</CreateDate>
    <NodeName Default="Nước Hồng Trà">
      <Name Culture="en-us">Red Tea Water</Name>
      <Name Culture="vi">Nước Hồng Trà</Name>
    </NodeName>
    <SortOrder>41</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "41b7ac2f-2f8e-4136-94fb-8174a4da94eb",
    "mediaKey": "64cdfaf4-58c2-44c9-b89d-09f08b9f47d5"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "18c5e33b-0c6c-4a7f-baac-dae985ba4449",
    "mediaKey": "64cdfaf4-58c2-44c9-b89d-09f08b9f47d5"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Trà]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Red Tea Water]]></Value>
      <Value Culture="vi"><![CDATA[Nước Hồng Trà]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Drinks"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Drinks"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "7ed288db-61bc-46f9-b8bb-17ae92fe677f",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>