<?xml version="1.0" encoding="utf-8"?>
<Content Key="58db80ee-ef6c-4ff5-87ae-1f71730648c2" Alias="Reservation - Clare Hayes" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/ReservationClareHayes</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-27T15:20:49</CreateDate>
    <NodeName Default="Reservation - Clare Hayes" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[2023-07-31T00:00:00]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Clare Hayes]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[10]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[0905669865]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-27T01:00:00]]></Value>
    </reservationTime>
  </Properties>
</Content>