<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b892107-5533-4404-a41f-5695b8d4dc3f" Alias="Reservation - Dawn Mcguire" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/ReservationDawnMcguire</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-28T14:24:10</CreateDate>
    <NodeName Default="Reservation - Dawn Mcguire" />
    <SortOrder>40</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[2023-07-31T00:00:00]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Dawn Mcguire]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[904]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[+1 (156) 563-6639]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-28T08:00:00]]></Value>
    </reservationTime>
  </Properties>
</Content>