<?xml version="1.0" encoding="utf-8"?>
<Content Key="3682855d-acf6-4797-b064-781b62ff9799" Alias="Reservation - Ivan Puckett" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/ReservationIvanPuckett</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-27T13:47:36</CreateDate>
    <NodeName Default="Reservation - Ivan Puckett" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[2023-07-31T00:00:00]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[gira@mailinator.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Ivan Puckett]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[10]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[0905669865]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-27T00:30:00]]></Value>
    </reservationTime>
  </Properties>
</Content>