<?xml version="1.0" encoding="utf-8"?>
<Content Key="94bf0bc8-ff1f-4fec-9bdd-12c2a7825542" Alias="Reservation - Suki Baxter" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/ReservationSukiBaxter</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-28T14:10:49</CreateDate>
    <NodeName Default="Reservation - Suki Baxter" />
    <SortOrder>39</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[1975-07-19T00:00:00]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[hefenaz@mailinator.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Suki Baxter]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[308]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[+1 (304) 603-7099]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-28T00:00:00]]></Value>
    </reservationTime>
  </Properties>
</Content>