<?xml version="1.0" encoding="utf-8"?>
<Content Key="25dc1a3b-99ff-4cf9-a098-efd12ed4eb6f" Alias="Reservation - Blythe Moss" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/ReservationBlytheMoss</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-27T14:28:31</CreateDate>
    <NodeName Default="Reservation - Blythe Moss" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[2023-07-31T00:00:00]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Blythe Moss]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[10]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[0905669865]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-27T23:32:00]]></Value>
    </reservationTime>
  </Properties>
</Content>