<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3203472-d3d4-439f-9a81-b7e9d297945e" Alias="Reservation - Boris Guzman" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/ReservationBorisGuzman</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-27T13:40:35</CreateDate>
    <NodeName Default="Reservation - Boris Guzman" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[2023-07-31T00:00:00]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[puqene@mailinator.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Boris Guzman]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[8]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[0905669865]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-27T08:44:00]]></Value>
    </reservationTime>
  </Properties>
</Content>