<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f4fecc5-5172-4a6c-b680-bb28ab10d6fe" Alias="Reservation - Thành Nhân (7)" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/ReservationThanhNhan7</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-28T13:43:56</CreateDate>
    <NodeName Default="Reservation - Thành Nhân (7)" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[2023-07-31T00:00:00]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Thành Nhân]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[8]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[0905669865]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-28T13:00:00]]></Value>
    </reservationTime>
  </Properties>
</Content>