<?xml version="1.0" encoding="utf-8"?>
<Content Key="de3bbfe6-6731-4023-81f4-3d1af0036daa" Alias="Reservation - Teagan Mcguire" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/ReservationTeaganMcguire</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-27T13:35:38</CreateDate>
    <NodeName Default="Reservation - Teagan Mcguire" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[2023-07-31T00:00:00]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[vawujes@mailinator.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Teagan Mcguire]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[10]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[0905669865]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-27T14:35:00]]></Value>
    </reservationTime>
  </Properties>
</Content>