<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac754b39-152e-4761-afed-48cf6b42bdc8" Alias="Reservation - Kamal Evans" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/ReservationKamalEvans</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-27T15:14:24</CreateDate>
    <NodeName Default="Reservation - Kamal Evans" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[2023-07-31T00:00:00]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Kamal Evans]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[8]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[0905669865]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-27T18:45:00]]></Value>
    </reservationTime>
  </Properties>
</Content>