<?xml version="1.0" encoding="utf-8"?>
<Content Key="8fad8b85-19e4-40cc-a5ff-7243f14a765a" Alias="Reservation - Hayfa Hahn" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/ReservationHayfaHahn</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-27T14:48:34</CreateDate>
    <NodeName Default="Reservation - Hayfa Hahn" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[2023-07-31T00:00:00]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Hayfa Hahn]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[8]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[0905669865]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-27T00:30:00]]></Value>
    </reservationTime>
  </Properties>
</Content>