<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b9c6b9c-6ecc-4480-94dd-6561e685b85a" Alias="Reservation - Thành Nhân (4)" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/ReservationThanhNhan4</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-27T15:00:58</CreateDate>
    <NodeName Default="Reservation - Thành Nhân (4)" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[2023-07-31T00:00:00]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[thanhnhan11102001@gmail.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Thành Nhân]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[8]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[0905669865]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-27T00:40:00]]></Value>
    </reservationTime>
  </Properties>
</Content>