<?xml version="1.0" encoding="utf-8"?>
<Content Key="9870f340-8297-4d65-875e-31ff6320aa95" Alias="Reservation - Shoshana Townsend (5)" Level="3">
  <Info>
    <Parent Key="893fba33-863f-4d3c-a627-79a948506209">Đặt Bàn</Parent>
    <Path>/TrangChu/DatBan/ReservationShoshanaTownsend5</Path>
    <Trashed>false</Trashed>
    <ContentType>reservations</ContentType>
    <CreateDate>2023-07-28T14:10:26</CreateDate>
    <NodeName Default="Reservation - Shoshana Townsend (5)" />
    <SortOrder>38</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <reservationDate>
      <Value><![CDATA[1999-02-24T00:00:00]]></Value>
    </reservationDate>
    <reservationEmail>
      <Value><![CDATA[cizit@mailinator.com]]></Value>
    </reservationEmail>
    <reservationName>
      <Value><![CDATA[Shoshana Townsend]]></Value>
    </reservationName>
    <reservationPerson>
      <Value><![CDATA[498]]></Value>
    </reservationPerson>
    <reservationPhone>
      <Value><![CDATA[+1 (824) 232-2977]]></Value>
    </reservationPhone>
    <reservationTime>
      <Value><![CDATA[2023-07-28T01:00:00]]></Value>
    </reservationTime>
  </Properties>
</Content>