<?xml version="1.0" encoding="utf-8"?>
<Content Key="0681a964-756e-4f46-97c1-5b7ed050d12a" Alias="Rê Bê Ca Weo Son" Level="3">
  <Info>
    <Parent Key="705e77ee-b1f4-4761-996d-a64a992ab347">Chefs</Parent>
    <Path>/TrangChu/Chefs/ReBeCaWeoSon</Path>
    <Trashed>false</Trashed>
    <ContentType>chef</ContentType>
    <CreateDate>2023-06-26T11:01:23</CreateDate>
    <NodeName Default="Rê Bê Ca Weo Son">
      <Name Culture="en-us">Rebeca Welson</Name>
      <Name Culture="vi">Rê Bê Ca Weo Son</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <chefBIO>
      <Value Culture="en-us"><![CDATA[I am an ambitious workaholic, but apart from that, pretty simple person.]]></Value>
      <Value Culture="vi"><![CDATA[Tôi là một người nghiện công việc đầy tham vọng, nhưng bên cạnh đó, tôi là một người khá đơn giản.]]></Value>
    </chefBIO>
    <chefImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c8570f61-368f-49e3-a267-83f88f2e1902",
    "mediaKey": "8a2713ec-2b66-4a05-ab2e-773d6f715a11"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "b2aaf777-0126-44c1-a47e-8efb294a6fe9",
    "mediaKey": "8a2713ec-2b66-4a05-ab2e-773d6f715a11"
  }
]]]></Value>
    </chefImage>
    <chefName>
      <Value Culture="en-us"><![CDATA[Rebeca Welson]]></Value>
      <Value Culture="vi"><![CDATA[Rê Bê Ca Weo Son]]></Value>
    </chefName>
    <chefPosition>
      <Value Culture="en-us"><![CDATA[Head Chef]]></Value>
      <Value Culture="vi"><![CDATA[Bếp Trưởng]]></Value>
    </chefPosition>
    <fBProfileLink>
      <Value Culture="en-us"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
      <Value Culture="vi"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
    </fBProfileLink>
    <gGProfileLink>
      <Value Culture="en-us"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM`]]></Value>
      <Value Culture="vi"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
    </gGProfileLink>
    <instagramProfileLink>
      <Value Culture="en-us"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
      <Value Culture="vi"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
    </instagramProfileLink>
    <twitterProfileLink>
      <Value Culture="en-us"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
      <Value Culture="vi"><![CDATA[https://www.facebook.com/L.C.T.N.XuMuMMiM]]></Value>
    </twitterProfileLink>
  </Properties>
</Content>