<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3c45862-675d-4750-9838-b06838e70dc8" Alias="Rượu MocKup" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/RuouMocKup</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:37:12</CreateDate>
    <NodeName Default="Rượu MocKup">
      <Name Culture="en-us">Wine MocKup</Name>
      <Name Culture="vi">Rượu MocKup</Name>
    </NodeName>
    <SortOrder>31</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "d983eb19-b137-4984-80dc-6efb58044ca2",
    "mediaKey": "8b809d8b-1b50-4ea5-ab7c-266204c9c8fa"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "bc21c4ca-cb37-41c1-9c33-a0ff7c540dd5",
    "mediaKey": "8b809d8b-1b50-4ea5-ab7c-266204c9c8fa"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Rượt]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Wine MocKup]]></Value>
      <Value Culture="vi"><![CDATA[Rượu MocKup]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Wine Card"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Wine Card"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "45ad6b7d-06de-4535-9c85-c6c44ce073d2",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>