<?xml version="1.0" encoding="utf-8"?>
<Content Key="35f77f44-9d95-4347-946c-11a283daa1e6" Alias="Rượu 6FT6" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/Ruou6FT6</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:39:05</CreateDate>
    <NodeName Default="Rượu 6FT6">
      <Name Culture="en-us">Wine 6FT6</Name>
      <Name Culture="vi">Rượu 6FT6</Name>
    </NodeName>
    <SortOrder>34</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "d23d47a9-fd1b-4bd4-93ce-134fa1daa2c7",
    "mediaKey": "3bdb801f-769d-4e44-abea-e05b9e7cc8bf"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "2ebec5e5-d935-4b8a-8009-c7f8020af26a",
    "mediaKey": "3bdb801f-769d-4e44-abea-e05b9e7cc8bf"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[rượu]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Wine 6FT6]]></Value>
      <Value Culture="vi"><![CDATA[Rượu 6FT6]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Wine Card"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Wine Card"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "f64ae5c3-b0a2-4012-bbd4-05ed1d66be19",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>