<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f2db0b9-14c2-448c-a8e3-415878d58acb" Alias="Rượu Nho" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/RuouNho</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:36:18</CreateDate>
    <NodeName Default="Rượu Nho">
      <Name Culture="en-us">Grape wine</Name>
      <Name Culture="vi">Rượu Nho</Name>
    </NodeName>
    <SortOrder>30</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "1cff7a52-412b-42cf-b475-2a0710e5ff14",
    "mediaKey": "09624e7e-bd6b-4d0c-b5c5-f718efda9c77"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "4dfdacee-402f-4be3-aa85-2de09d2f83dc",
    "mediaKey": "09624e7e-bd6b-4d0c-b5c5-f718efda9c77"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[rượu nho]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Grape wine]]></Value>
      <Value Culture="vi"><![CDATA[Rượu Nho]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Wine Card"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Wine Card"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "6270f0ab-3c04-47df-bd88-cea3992d76ac",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>