<?xml version="1.0" encoding="utf-8"?>
<Content Key="2fdc26e1-3f6c-4740-b6e3-813df8e041a1" Alias="Rượu GraHam's" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/RuouGraHams</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:39:37</CreateDate>
    <NodeName Default="Rượu GraHam's">
      <Name Culture="en-us">GraHam's Wine</Name>
      <Name Culture="vi">Rượu GraHam's</Name>
    </NodeName>
    <SortOrder>35</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "8034a762-3c50-4e6c-9977-b9cdf2e3e2a7",
    "mediaKey": "ca072cec-af66-449d-a8e4-ae80b7d215a8"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "c81c39bc-a800-44e2-a445-b6cb6f16fcda",
    "mediaKey": "ca072cec-af66-449d-a8e4-ae80b7d215a8"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Thịt, Khoai tây, Gạo, Cà chua]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[GraHam's Wine]]></Value>
      <Value Culture="vi"><![CDATA[Rượu GraHam's]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Wine Card"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Wine Card"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "8a741ad4-7561-40ea-8bb4-7feb2388edc9",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>