<?xml version="1.0" encoding="utf-8"?>
<Content Key="d08d479e-ab0a-418e-a369-08f333b199ce" Alias="Rượu Van" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/RuouVan</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:37:56</CreateDate>
    <NodeName Default="Rượu Van">
      <Name Culture="en-us">Wine Van</Name>
      <Name Culture="vi">Rượu Van</Name>
    </NodeName>
    <SortOrder>32</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "1f485ed1-831c-4417-9f4c-5865f22a8ed2",
    "mediaKey": "8c66563d-721c-44d7-83d4-d6092acdcf23"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "c3cf6ddf-4bc4-4e8f-93ea-b006da235d4b",
    "mediaKey": "8c66563d-721c-44d7-83d4-d6092acdcf23"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Thịt, Khoai tây, Gạo, Cà chua]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Wine Van]]></Value>
      <Value Culture="vi"><![CDATA[Rượu Van]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Wine Card"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Wine Card"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "d789d686-52b0-4afd-abc9-99a5baca3a5f",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>