<?xml version="1.0" encoding="utf-8"?>
<Content Key="184af41c-2410-4267-ab4b-3a7e69150d5b" Alias="Rượu Villa PranDo" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/RuouVillaPranDo</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:35:16</CreateDate>
    <NodeName Default="Rượu Villa PranDo">
      <Name Culture="en-us">Wine Villa PranDo</Name>
      <Name Culture="vi">Rượu Villa PranDo</Name>
    </NodeName>
    <SortOrder>28</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "36890eba-d02e-4a36-830a-7673c829bc7c",
    "mediaKey": "37334226-64f2-4fd0-b65d-fab2c27726f8"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "b76646bc-775e-4c88-9069-a387e05ac0f6",
    "mediaKey": "37334226-64f2-4fd0-b65d-fab2c27726f8"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Thịt, Khoai tây, Gạo, Cà chua]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Wine Villa PranDo]]></Value>
      <Value Culture="vi"><![CDATA[Rượu Villa PranDo]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Wine Card"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Wine Card"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "a8c355e0-9808-465a-a060-e82109d0c756",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>