<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea5694ed-ebe3-4f59-8be8-1538f30dd06c" Alias="Rượu Penser Nature" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/RuouPenserNature</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:35:48</CreateDate>
    <NodeName Default="Rượu Penser Nature">
      <Name Culture="en-us">Penser Nature Wine</Name>
      <Name Culture="vi">Rượu Penser Nature</Name>
    </NodeName>
    <SortOrder>29</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "475c1757-d4a4-4746-9da2-2800c8f16fdd",
    "mediaKey": "70b48f54-3f0e-4729-bd24-e5fc10310516"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "ca2000a5-3bb8-45df-8bf1-1b7567c83e34",
    "mediaKey": "70b48f54-3f0e-4729-bd24-e5fc10310516"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Thịt, Khoai tây, Gạo, Cà chua]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Penser Nature Wine]]></Value>
      <Value Culture="vi"><![CDATA[Rượu Penser Nature]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Wine Card"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Wine Card"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "0a2593b9-8790-4f59-b802-f92702da0500",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>