<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc0d6ac8-3ea8-4c13-a5a8-ea06b168e17b" Alias="Stories-Single" Level="2">
  <Info>
    <Parent Key="b3eba053-4ea7-47cf-96ee-2997ee55d03a">Trang Chủ</Parent>
    <Path>/TrangChu/StoriesSingle</Path>
    <Trashed>false</Trashed>
    <ContentType>storiesSingle</ContentType>
    <CreateDate>2023-06-28T14:38:50</CreateDate>
    <NodeName Default="Stories-Single">
      <Name Culture="en-us">Stories-Single</Name>
      <Name Culture="vi">Stories-Single</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="3ad6f925-0273-4daf-9289-2389127743fd">StoriesSingle</Template>
  </Info>
  <Properties />
</Content>