<?xml version="1.0" encoding="utf-8"?>
<Content Key="dad41033-7731-448c-b7ac-48fdb4ddbac1" Alias="Sườn Rau Củ" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/SuonRauCu</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:19:49</CreateDate>
    <NodeName Default="Sườn Rau Củ">
      <Name Culture="en-us">Vegetable Ribs</Name>
      <Name Culture="vi">Sườn Rau Củ</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "edfb617e-53be-4b07-aa86-fc09da920b04",
    "mediaKey": "8beada17-d68e-403c-a9a3-f519f868aa7f"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "77fcfcc8-617c-4c14-8099-a6cd11f951f7",
    "mediaKey": "8beada17-d68e-403c-a9a3-f519f868aa7f"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Sườn, Rau củ]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Vegetable Ribs]]></Value>
      <Value Culture="vi"><![CDATA[Sườn Rau Củ]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Dinner"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Dinner"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "482977ea-3e62-4a10-99ec-946ebf3cec86",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>