<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cee3daf-7e6d-4390-8bd2-db55173ecc61" Alias="Thịt Bò Hầm" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/ThitBoHam</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:17:39</CreateDate>
    <NodeName Default="Thịt Bò Hầm">
      <Name Culture="en-us">Beef stew</Name>
      <Name Culture="vi">Thịt Bò Hầm</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "468371f8-c568-49cd-afb7-d544cb03f608",
    "mediaKey": "c9dca54e-8aa6-418a-b814-64cceaf6b82d"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "c487a35e-f81d-440b-a7db-6149e5230743",
    "mediaKey": "c9dca54e-8aa6-418a-b814-64cceaf6b82d"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Bò]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Beef stew]]></Value>
      <Value Culture="vi"><![CDATA[Thịt Bò Hầm]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Lunch"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Lunch"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "6f24b19f-dd12-4b47-bbea-0d155e2d7579",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>