<?xml version="1.0" encoding="utf-8"?>
<Content Key="4beb1855-a4cd-4c3c-b594-e84b216b7494" Alias="Tiểu Sử" Level="2">
  <Info>
    <Parent Key="b3eba053-4ea7-47cf-96ee-2997ee55d03a">Trang Chủ</Parent>
    <Path>/TrangChu/TieuSu</Path>
    <Trashed>false</Trashed>
    <ContentType>stories</ContentType>
    <CreateDate>2023-06-22T17:04:29</CreateDate>
    <NodeName Default="Tiểu Sử">
      <Name Culture="en-us">Stories</Name>
      <Name Culture="vi">Tiểu Sử</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="a4ae4b90-dec0-4c09-833d-41f5d9e475f2">Stories</Template>
  </Info>
  <Properties>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "9cd02209-3d76-48b4-82dd-2f1ad0210a90",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <storiesTitle>
      <Value Culture="en-us"><![CDATA[Blog]]></Value>
      <Value Culture="vi"><![CDATA[Bài Viết]]></Value>
    </storiesTitle>
    <storiesTitle1>
      <Value Culture="en-us"><![CDATA[Blog Single]]></Value>
      <Value Culture="vi"><![CDATA[Chi Tiết Bài Viết]]></Value>
    </storiesTitle1>
  </Properties>
</Content>