<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3eba053-4ea7-47cf-96ee-2997ee55d03a" Alias="Trang Chủ" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TrangChu</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-06-22T14:15:35</CreateDate>
    <NodeName Default="Trang Chủ">
      <Name Culture="en-us">Home</Name>
      <Name Culture="vi">Trang Chủ</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="f28a2439-3738-4780-8c9f-082168d439c8">Home</Template>
  </Info>
  <Properties>
    <homeContent>
      <Value Culture="en-us"><![CDATA[<div class="heading-section mt-5 mb-4">
<div class="pl-lg-5 ml-md-5">
<h2 class="mb-4"><strong>Welcome to LCTNhan Restaurant</strong></h2>
</div>
</div>
<div class="pl-lg-5 ml-md-5">
<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
</div>]]></Value>
      <Value Culture="vi"><![CDATA[<h2 class="mb-4"><strong>Chào mừng đến với nhà hàng LCTNhan</strong></h2>
<p>Trên đường đi, cô gặp một bản sao. Bản sao đã cảnh báo Little Blind Text rằng nguồn gốc của nó sẽ được viết lại hàng lần và mọi thứ còn lại từ nguồn gốc của nó sẽ là từ "và" và Little Blind Text nên quay lại và trở về với chính nó. đất nước an toàn. Một con sông nhỏ tên là Duden chảy ngang qua vị trí của họ và cung cấp cho nó những thiết bị thứ cấp. Đó là một vùng đất nước thiên đường, trong đó những phần nướng của câu bay vào miệng bạn.</p>]]></Value>
    </homeContent>
    <homeContentBreakfast>
      <Value Culture="en-us"><![CDATA[Breakfast]]></Value>
      <Value Culture="vi"><![CDATA[Bữa Sáng]]></Value>
    </homeContentBreakfast>
    <homeContentDesserts>
      <Value Culture="en-us"><![CDATA[Desserts]]></Value>
      <Value Culture="vi"><![CDATA[Tráng Miệng]]></Value>
    </homeContentDesserts>
    <homeContentDinner>
      <Value Culture="en-us"><![CDATA[Dinner]]></Value>
      <Value Culture="vi"><![CDATA[Bữa Tối]]></Value>
    </homeContentDinner>
    <homeContentDrinks>
      <Value Culture="en-us"><![CDATA[Drinks]]></Value>
      <Value Culture="vi"><![CDATA[Đồ Uống]]></Value>
    </homeContentDrinks>
    <homeContentLunch>
      <Value Culture="en-us"><![CDATA[Lunch]]></Value>
      <Value Culture="vi"><![CDATA[Bữa Trưa]]></Value>
    </homeContentLunch>
    <homeContentPicture1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "332d49d9-6770-40b8-8815-de68e980ed1d",
    "mediaKey": "6fbbaf52-8943-4cc5-a636-763d7c09ad99"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "24206148-0ff7-4ae4-9e11-d6ba268d56c1",
    "mediaKey": "6fbbaf52-8943-4cc5-a636-763d7c09ad99"
  }
]]]></Value>
    </homeContentPicture1>
    <homeContentWineCard>
      <Value Culture="en-us"><![CDATA[Wine Card]]></Value>
      <Value Culture="vi"><![CDATA[Rượu]]></Value>
    </homeContentWineCard>
    <homeFooter>
      <Value Culture="en-us"><![CDATA[Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts]]></Value>
      <Value Culture="vi"><![CDATA[Xa xa, đằng sau những ngọn núi, xa các quốc gia Vokalia và Consonantia, có những văn bản mù quáng]]></Value>
    </homeFooter>
    <homeFooter1>
      <Value Culture="en-us"><![CDATA[<ul>
<li>Monday       9:00 - 24:00</li>
<li>Tuesday      9:00 - 24:00</li>
<li>Wednesday 9:00 - 24:00</li>
<li>Thursday     9:00 - 24:00</li>
<li>Friday          9:00 - 02:00</li>
<li>Saturday      9:00 - 02:00</li>
<li>Sunday        Closed</li>
</ul>]]></Value>
      <Value Culture="vi"><![CDATA[<ul>
<li>Thứ 2         9:00 - 24:00</li>
<li>Thứ 3         9:00 - 24:00</li>
<li>Thứ 4         9:00 - 24:00</li>
<li>Thứ 5         9:00 - 24:00</li>
<li>Thứ 6         9:00 - 02:00</li>
<li>Thứ 7         9:00 - 02:00</li>
<li>Chủ Nhật   Đóng cửa</li>
</ul>]]></Value>
    </homeFooter1>
    <homeFooter2>
      <Value Culture="en-us"><![CDATA[<p>Far far away, behind the word mountains, far from the countries.</p>
<div class="form-group"></div>]]></Value>
      <Value Culture="vi"><![CDATA[<p>Xa xối, sau những ngọn núi, xa các quốc gia.</p>]]></Value>
    </homeFooter2>
    <homeFooter3>
      <Value Culture="en-us"><![CDATA[Open Hours]]></Value>
      <Value Culture="vi"><![CDATA[Giờ Mở Cửa]]></Value>
    </homeFooter3>
    <homeFooter4>
      <Value Culture="en-us"><![CDATA[Newsletter]]></Value>
      <Value Culture="vi"><![CDATA[Bản Tin]]></Value>
    </homeFooter4>
    <homeTitle>
      <Value Culture="en-us"><![CDATA[LCTNhan]]></Value>
      <Value Culture="vi"><![CDATA[LCTNhan]]></Value>
    </homeTitle>
    <homeTitle1>
      <Value Culture="en-us"><![CDATA[Home]]></Value>
      <Value Culture="vi"><![CDATA[Trang Chủ]]></Value>
    </homeTitle1>
    <homeTitle2>
      <Value Culture="en-us"><![CDATA[About]]></Value>
      <Value Culture="vi"><![CDATA[Giới Thiệu]]></Value>
    </homeTitle2>
    <homeTitle3>
      <Value Culture="en-us"><![CDATA[Specialties]]></Value>
      <Value Culture="vi"><![CDATA[Đặc Sản]]></Value>
    </homeTitle3>
    <homeTitle4>
      <Value Culture="en-us"><![CDATA[Reservation]]></Value>
      <Value Culture="vi"><![CDATA[Đặt Bàn]]></Value>
    </homeTitle4>
    <homeTitle5>
      <Value Culture="en-us"><![CDATA[Stories]]></Value>
      <Value Culture="vi"><![CDATA[Tiểu Sử]]></Value>
    </homeTitle5>
    <homeTitle6>
      <Value Culture="en-us"><![CDATA[Contact]]></Value>
      <Value Culture="vi"><![CDATA[Liên Hệ]]></Value>
    </homeTitle6>
    <homeTitleContent>
      <Value Culture="en-us"><![CDATA[<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>]]></Value>
      <Value Culture="vi"><![CDATA[<p>Một con sông nhỏ tên là Duden chảy ngang qua vị trí của họ và cung cấp cho nó những thiết bị thứ cấp. Đó là một đất nước thiên đường.</p>]]></Value>
    </homeTitleContent>
    <homeTitlePicture>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "44ca9489-53cb-4377-928a-d13c63d7b46c",
    "mediaKey": "8eccfaa2-7240-4ea0-af7a-0120caa4fe34"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "153e8ac7-c4b5-4f38-91e3-8aab7e4ccd6c",
    "mediaKey": "8eccfaa2-7240-4ea0-af7a-0120caa4fe34"
  }
]]]></Value>
    </homeTitlePicture>
    <homeTitlePicture2>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "4c8a6b10-11dd-4e04-8779-096b06fd34ee",
    "mediaKey": "9a1f69c4-cc35-4e4c-9ba6-8b91c07ba895"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "53a6a990-499a-4709-8fb7-375c6a3da343",
    "mediaKey": "9a1f69c4-cc35-4e4c-9ba6-8b91c07ba895"
  }
]]]></Value>
    </homeTitlePicture2>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "4748c543-2d08-4120-a045-7af9c0dc67c2",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[
  {
    "key": "f4d8c471-0c63-491a-aa8d-4e93302730ee",
    "mediaKey": "1f2fb150-6c01-4ea9-bb3c-c2769c092e02"
  }
]]]></Value>
    </imageBanner1>
  </Properties>
</Content>