<?xml version="1.0" encoding="utf-8"?>
<Content Key="0758465d-ca8a-4a3e-88e1-ff69952158dc" Alias="Trà Ô Mai" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/TraOMai</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:43:53</CreateDate>
    <NodeName Default="Trà Ô Mai">
      <Name Culture="en-us">Oo Mai Tea</Name>
      <Name Culture="vi">Trà Ô Mai</Name>
    </NodeName>
    <SortOrder>42</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "a476f17d-3a38-4255-8ae1-11784e00e163",
    "mediaKey": "973c4f19-be38-4f57-b2d7-7ffbfe6a1150"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "3aa07419-e838-4c25-bfa2-9f3958f1c3e0",
    "mediaKey": "973c4f19-be38-4f57-b2d7-7ffbfe6a1150"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Thịt, Khoai tây, Gạo, Cà chua]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Oo Mai Tea]]></Value>
      <Value Culture="vi"><![CDATA[Trà Ô Mai]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Drinks"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Drinks"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "a848ec8b-c44d-47b3-af30-e6fc21805d01",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>