<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f5a400d-bc93-4441-a92b-2cc638a99de7" Alias="Trứng Chiên Rau Củ Quả" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/TrungChienRauCuQua</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:08:17</CreateDate>
    <NodeName Default="Trứng Chiên Rau Củ Quả">
      <Name Culture="en-us">Fried Eggs Vegetables</Name>
      <Name Culture="vi">Trứng Chiên Rau Củ Quả</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "74f7d844-3a6e-4b22-b537-5ebbec4bdc3a",
    "mediaKey": "17653ba5-6e77-49a3-8d8f-172f271e2a88"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "285960c8-bfe0-4777-bed1-86765012538a",
    "mediaKey": "17653ba5-6e77-49a3-8d8f-172f271e2a88"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Thịt, Khoai tây, Gạo, Cà chua]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Fried Eggs Vegetables]]></Value>
      <Value Culture="vi"><![CDATA[Trứng Chiên Rau Củ Quả]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Breakfast"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Breakfast"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "046f614b-2e1c-4f8e-844b-8472fc1cedfe",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>