<?xml version="1.0" encoding="utf-8"?>
<Content Key="4eab3852-c935-4fc9-8115-c839790bb525" Alias="Trứng Cuộn" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/TrungCuon</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:20:54</CreateDate>
    <NodeName Default="Trứng Cuộn">
      <Name Culture="en-us">Egg Roll</Name>
      <Name Culture="vi">Trứng Cuộn</Name>
    </NodeName>
    <SortOrder>19</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "eb97782a-76bc-438b-81f7-81f7b631e3e4",
    "mediaKey": "f8255e29-37e0-44a3-9a94-2935cb3343ed"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "ba3cd9fe-fcaf-406c-8ce6-01fa3290de9f",
    "mediaKey": "f8255e29-37e0-44a3-9a94-2935cb3343ed"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Trứng, Rau củ]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Egg Roll]]></Value>
      <Value Culture="vi"><![CDATA[Trứng Cuộn]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Dinner"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Dinner"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "0c31c80a-5bf2-4932-9bdf-4706840c87a8",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>