<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a4dd5e9-f436-41f9-91ff-444c02bc89b4" Alias="Trứng Chiên Bánh Mì" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/TrungChienBanhMi</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:22:44</CreateDate>
    <NodeName Default="Trứng Chiên Bánh Mì">
      <Name Culture="en-us">Fried Eggs Bread</Name>
      <Name Culture="vi">Trứng Chiên Bánh Mì</Name>
    </NodeName>
    <SortOrder>22</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "b6eed728-ad06-4dda-aaa6-457dfe848ffd",
    "mediaKey": "7646ad58-2a1f-4518-bf60-9881e1299406"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "e3414b5b-246b-4ead-acc2-1a86d6a6e40a",
    "mediaKey": "7646ad58-2a1f-4518-bf60-9881e1299406"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Thịt, Khoai tây, Gạo, Cà chua]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Fried Eggs Bread]]></Value>
      <Value Culture="vi"><![CDATA[Trứng Chiên Bánh Mì]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Dinner"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Dinner"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "ff219780-1690-4d6a-bfc0-41c7ccc2e667",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>