<?xml version="1.0" encoding="utf-8"?>
<Content Key="84763692-1598-4d2a-93ef-a4844ac196b2" Alias="Tôm Chiên" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/TomChien</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:08:48</CreateDate>
    <NodeName Default="Tôm Chiên">
      <Name Culture="en-us">Fried shrimp</Name>
      <Name Culture="vi">Tôm Chiên</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "f02b9119-5818-4a40-a4aa-795316e6e2c2",
    "mediaKey": "4ef8df8d-fafd-463b-a19c-6b8b70f3d1a4"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "1901d192-e914-4dda-833e-a0997f5f3dfc",
    "mediaKey": "4ef8df8d-fafd-463b-a19c-6b8b70f3d1a4"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Tôm, Bột]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Fried shrimp]]></Value>
      <Value Culture="vi"><![CDATA[Tôm Chiên]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Breakfast"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Breakfast"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "3c4bbef9-f354-4ee9-b6be-cde01755a70a",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>