<?xml version="1.0" encoding="utf-8"?>
<Content Key="80c8d659-75e5-4cbf-97c1-f6f589000236" Alias="Xiên Nướng" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/XienNuong</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:16:35</CreateDate>
    <NodeName Default="Xiên Nướng">
      <Name Culture="en-us">Skewer</Name>
      <Name Culture="vi">Xiên Nướng</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c9d0af9d-ca1e-4338-9a20-37d6128620d6",
    "mediaKey": "4845e676-dec0-4f6f-b05f-b1385f26b454"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "00466114-ee00-4d7a-af4e-188809912658",
    "mediaKey": "4845e676-dec0-4f6f-b05f-b1385f26b454"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Thịt, Khoai tây, Gạo, Cà chua]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Skewer]]></Value>
      <Value Culture="vi"><![CDATA[Xiên Nướng]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Lunch"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Lunch"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "77e250a5-f69a-4bc1-9b03-3c1348176232",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>