<?xml version="1.0" encoding="utf-8"?>
<Content Key="e36f371c-caab-4a5e-9546-ec2e2199db04" Alias="Yaourt Trái Cây" Level="3">
  <Info>
    <Parent Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f">Đặc sản</Parent>
    <Path>/TrangChu/DacSan/YaourtTraiCay</Path>
    <Trashed>false</Trashed>
    <ContentType>food</ContentType>
    <CreateDate>2023-06-27T14:32:16</CreateDate>
    <NodeName Default="Yaourt Trái Cây">
      <Name Culture="en-us">Fruit Yogurt</Name>
      <Name Culture="vi">Yaourt Trái Cây</Name>
    </NodeName>
    <SortOrder>24</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0097e89-550c-439e-8f3e-6981b91abfd3">FoodInfo</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <foodImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "eb0667d1-3f7e-4fad-8799-894055ad8ea4",
    "mediaKey": "b4bcce1a-f38c-43e4-ae74-7b742b0bf79f"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "29ce71c0-a345-4408-a21c-cb65329f792f",
    "mediaKey": "b4bcce1a-f38c-43e4-ae74-7b742b0bf79f"
  }
]]]></Value>
    </foodImage>
    <foodIngredients>
      <Value Culture="en-us"><![CDATA[Meat, Potatoes, Rice, Tomatoe]]></Value>
      <Value Culture="vi"><![CDATA[Yaourt, trái cây]]></Value>
    </foodIngredients>
    <foodName>
      <Value Culture="en-us"><![CDATA[Fruit Yogurt]]></Value>
      <Value Culture="vi"><![CDATA[Yaourt Trái Cây]]></Value>
    </foodName>
    <foodPrice>
      <Value Culture="en-us"><![CDATA[29.000]]></Value>
      <Value Culture="vi"><![CDATA[29.000]]></Value>
    </foodPrice>
    <foodType>
      <Value Culture="en-us"><![CDATA[[
  "Desserts"
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  "Desserts"
]]]></Value>
    </foodType>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "ce733030-25f2-4ec1-9191-4315ca395268",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
  </Properties>
</Content>