<?xml version="1.0" encoding="utf-8"?>
<Content Key="310fc6c3-95ba-4eb4-84b4-0ede6cde4d7f" Alias="Đặc sản" Level="2">
  <Info>
    <Parent Key="b3eba053-4ea7-47cf-96ee-2997ee55d03a">Trang Chủ</Parent>
    <Path>/TrangChu/DacSan</Path>
    <Trashed>false</Trashed>
    <ContentType>specialties</ContentType>
    <CreateDate>2023-06-22T16:39:49</CreateDate>
    <NodeName Default="Đặc sản">
      <Name Culture="en-us">Specialties</Name>
      <Name Culture="vi">Đặc sản</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="6e040900-cd8f-460c-a303-959d4ba74b42">Specialties</Template>
  </Info>
  <Properties>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "4c4a6c38-1164-412b-a50d-3d3a0273ac29",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <specialtiesInfo>
      <Value><![CDATA[Info]]></Value>
    </specialtiesInfo>
    <specialtiesTitle>
      <Value><![CDATA[Menu]]></Value>
    </specialtiesTitle>
  </Properties>
</Content>