<?xml version="1.0" encoding="utf-8"?>
<Content Key="38b0030d-4ef1-40fb-b473-1d040f8b6624" Alias="Đồ Ăn Ngon" Level="3">
  <Info>
    <Parent Key="4beb1855-a4cd-4c3c-b594-e84b216b7494">Tiểu Sử</Parent>
    <Path>/TrangChu/TieuSu/DoAnNgon</Path>
    <Trashed>false</Trashed>
    <ContentType>story</ContentType>
    <CreateDate>2023-07-28T06:13:26</CreateDate>
    <NodeName Default="Đồ Ăn Ngon">
      <Name Culture="en-us">Delicious food</Name>
      <Name Culture="vi">Đồ Ăn Ngon</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="3ad6f925-0273-4daf-9289-2389127743fd">StoriesSingle</Template>
  </Info>
  <Properties>
    <content1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content1>
    <content2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content2>
    <content3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </content3>
    <imageBanner>
      <Value><![CDATA[[
  {
    "key": "7fba07a9-1af6-4e39-93f0-02253e0ed3c9",
    "mediaKey": "f60702cd-5b09-4256-bd9a-d4934c2939a3"
  }
]]]></Value>
    </imageBanner>
    <imageBanner1>
      <Value><![CDATA[[]]]></Value>
    </imageBanner1>
    <storyCreator>
      <Value><![CDATA[1]]></Value>
    </storyCreator>
    <storyDate>
      <Value><![CDATA[2023-07-28T06:15:00]]></Value>
    </storyDate>
    <storyImage>
      <Value><![CDATA[[
  {
    "key": "c643a2b4-7bd4-4a18-8d52-5b5f2f5f5c81",
    "mediaKey": "de06065e-c19a-4e93-8874-41353272a88f"
  }
]]]></Value>
    </storyImage>
    <storyName>
      <Value Culture="en-us"><![CDATA[Delicious food]]></Value>
      <Value Culture="vi"><![CDATA[Đồ Ăn Ngon]]></Value>
    </storyName>
    <storyView>
      <Value><![CDATA[4]]></Value>
    </storyView>
  </Properties>
</Content>