<?xml version="1.0" encoding="utf-8"?>
<Macro Key="f56b62d2-1bcc-4a0e-90dd-32323dbfb407" Alias="MyButton" Level="0">
  <Name>MyButton</Name>
  <MacroSource>~/Views/MacroPartials/MyButton.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Caption</Name>
      <Alias>caption</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
    <Property>
      <Name>Link</Name>
      <Alias>link</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
    <Property>
      <Name>NewWindow</Name>
      <Alias>newWindow</Alias>
      <SortOrder>2</SortOrder>
      <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    </Property>
  </Properties>
</Macro>