<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9731d946-7bb5-4839-8ebf-0459fdd1e3c0" Alias="chefs" Level="1">
  <Info>
    <Name>Chefs</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="74a57f8c-40e0-4cb2-8585-5823c42ef353" SortOrder="0">chef</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>204b6093-37e3-49ac-8be6-01541bd7f61a</Key>
      <Name>NumberOfChefc</Name>
      <Alias>numberOfChefc</Alias>
      <Definition>3f8749f9-0d7f-473d-917d-ae4fd435aa31</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9242ea3a-fce2-46a0-81eb-92fb4ebdec70</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>