<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a63a5c97-5a1a-4d12-ad2f-ec1c1e91a2ff" Alias="comments" Level="1">
  <Info>
    <Name>Comments</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="05e4328c-a08a-4920-a962-7e4dc3b3b5a9" SortOrder="0">comment</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>