<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="40908d7e-046d-4a48-b594-d13f88631cc9" Alias="reservation" Level="1">
  <Info>
    <Name>Reservation</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="15c48a16-6996-4f56-985c-061f35a95a78">banner</Composition>
      <Composition Key="7cc056ae-fcef-46a3-85ba-b45888f8b2ff">menuActive</Composition>
    </Compositions>
    <DefaultTemplate>Reservation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1f0b33cb-f32a-4aa5-8bb8-c2d59b917eac">Reservation</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="26995480-35f9-4d69-8e9b-c26cb4b24004" SortOrder="0">reservations</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>