<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b405d40d-e5c0-482e-ad98-2d315c7dc650" Alias="specialties" Level="1">
  <Info>
    <Name>Specialties</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="15c48a16-6996-4f56-985c-061f35a95a78">banner</Composition>
      <Composition Key="7cc056ae-fcef-46a3-85ba-b45888f8b2ff">menuActive</Composition>
    </Compositions>
    <DefaultTemplate>Specialties</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6e040900-cd8f-460c-a303-959d4ba74b42">Specialties</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c640eac7-6fc9-4523-ae18-e6ff1cf6e68d" SortOrder="0">food</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>73aaa0f3-8ae9-437d-842a-d829df25e79d</Key>
      <Name>Specialties-Info</Name>
      <Alias>specialtiesInfo</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ea69e2e-c695-43ce-a58d-482a2a062133</Key>
      <Name>Specialties Title</Name>
      <Alias>specialtiesTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b401d774-b035-48d5-a1e5-2940204e7b09</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>