<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="57438e34-0929-4155-a40f-16b3a35d1099" Alias="stories" Level="1">
  <Info>
    <Name>Stories</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="15c48a16-6996-4f56-985c-061f35a95a78">banner</Composition>
      <Composition Key="7cc056ae-fcef-46a3-85ba-b45888f8b2ff">menuActive</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="84f424c8-886a-44b5-b54e-d613b3596d87" SortOrder="0">story</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>971d0624-faeb-431f-8c36-af019060d3e0</Key>
      <Name>StoriesTitle</Name>
      <Alias>storiesTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e147362-f5d5-4da6-8bd1-5976ad8bc1bf</Key>
      <Name>StoriesTitle1</Name>
      <Alias>storiesTitle1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c82d608b-d92a-4be1-908a-56908dbdbfa2</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>