<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a1f69c4-cc35-4e4c-9ba6-8b91c07ba895" Alias="Bg 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bg2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-23T09:19:33</CreateDate>
    <NodeName Default="Bg 2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yjub5grv/bg_2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>