<?xml version="1.0" encoding="utf-8"?>
<Media Key="8eccfaa2-7240-4ea0-af7a-0120caa4fe34" Alias="Bg 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bg3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-23T09:19:28</CreateDate>
    <NodeName Default="Bg 3" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ut3mzdsa/bg_3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>