<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7ec3fa7-4f90-4256-b25f-690a8d1fe01a" Alias="Breakfast 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Breakfast1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T10:09:08</CreateDate>
    <NodeName Default="Breakfast 1" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ue5pzr2q/breakfast-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>