<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ef8df8d-fafd-463b-a19c-6b8b70f3d1a4" Alias="Breakfast 5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Breakfast5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:08:46</CreateDate>
    <NodeName Default="Breakfast 5" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rpppqtx3/breakfast-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>