<?xml version="1.0" encoding="utf-8"?>
<Media Key="984b356d-7f7d-4602-b961-73ffb4b2f8f5" Alias="Breakfast 8" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Breakfast8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:10:30</CreateDate>
    <NodeName Default="Breakfast 8" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nm0fxgd3/breakfast-8.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>