<?xml version="1.0" encoding="utf-8"?>
<Media Key="17653ba5-6e77-49a3-8d8f-172f271e2a88" Alias="Breakfast 4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Breakfast4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:08:10</CreateDate>
    <NodeName Default="Breakfast 4" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/um3hkf1x/breakfast-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>