<?xml version="1.0" encoding="utf-8"?>
<Media Key="25ed82cf-a5ff-4bf9-b077-921b53a3197d" Alias="Breakfast 9" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Breakfast9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:11:09</CreateDate>
    <NodeName Default="Breakfast 9" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zgbo0jp5/breakfast-9.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>