<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe209245-dbde-47b9-ac64-9811d623464e" Alias="Chef 4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Chef4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-26T10:57:18</CreateDate>
    <NodeName Default="Chef 4" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iojcb5w4/chef-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>