<?xml version="1.0" encoding="utf-8"?>
<Media Key="e71214d5-ed95-4464-9dbd-c6d1d45b3125" Alias="Chef 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Chef3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-26T10:57:15</CreateDate>
    <NodeName Default="Chef 3" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0mkbfz2v/chef-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>