<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a2713ec-2b66-4a05-ab2e-773d6f715a11" Alias="Chef 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Chef2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-26T10:57:12</CreateDate>
    <NodeName Default="Chef 2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3ijdpctg/chef-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>