<?xml version="1.0" encoding="utf-8"?>
<Media Key="136f7768-3bc3-4ceb-a55c-d728cacb428e" Alias="Chef 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Chef1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-26T10:57:09</CreateDate>
    <NodeName Default="Chef 1" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nz1h4e4d/chef-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>