<?xml version="1.0" encoding="utf-8"?>
<Media Key="48549876-2cd5-4317-9bc9-a5234e07a9c1" Alias="Dessert 4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dessert4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:33:20</CreateDate>
    <NodeName Default="Dessert 4" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ocmfisgv/dessert-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>