<?xml version="1.0" encoding="utf-8"?>
<Media Key="03cbfdfb-542b-4889-8f3f-3c6c374d4e5b" Alias="Dessert 5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dessert5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:34:00</CreateDate>
    <NodeName Default="Dessert 5" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5x4nwazl/dessert-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>