<?xml version="1.0" encoding="utf-8"?>
<Media Key="e79c9d5f-2f74-4d2d-9483-5534f3502ee0" Alias="Dessert 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dessert3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:32:38</CreateDate>
    <NodeName Default="Dessert 3" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lgojzz1u/dessert-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>