<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8255e29-37e0-44a3-9a94-2935cb3343ed" Alias="Dinner 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dinner3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:20:40</CreateDate>
    <NodeName Default="Dinner 3" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f3pcl4ha/dinner-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>