<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3031835-9565-4585-ae56-dab80e4d1d4a" Alias="Dinner 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dinner2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:20:06</CreateDate>
    <NodeName Default="Dinner 2" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gmmahu1f/dinner-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>