<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9acc37c-eb67-4113-af4d-45e741cc1397" Alias="Drink 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Drink3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:41:10</CreateDate>
    <NodeName Default="Drink 3" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/plblzwlh/drink-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>