<?xml version="1.0" encoding="utf-8"?>
<Media Key="1afd0021-2b30-497d-97d0-7056f3e59132" Alias="Drink 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Drink1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:40:14</CreateDate>
    <NodeName Default="Drink 1" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e2ap0grq/drink-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>