<?xml version="1.0" encoding="utf-8"?>
<Media Key="de79b98e-ef07-4ad1-95ce-674d7cb84b14" Alias="Drink 4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Drink4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:41:57</CreateDate>
    <NodeName Default="Drink 4" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rc2htxqh/drink-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>