<?xml version="1.0" encoding="utf-8"?>
<Media Key="b771ec14-ea3e-417a-a7fb-fddbc8d0c67c" Alias="Drink 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Drink2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:40:37</CreateDate>
    <NodeName Default="Drink 2" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/clwhdnz4/drink-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>