<?xml version="1.0" encoding="utf-8"?>
<Media Key="973c4f19-be38-4f57-b2d7-7ffbfe6a1150" Alias="Drink 7" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Drink7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:43:49</CreateDate>
    <NodeName Default="Drink 7" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d3hdzfzy/drink-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>