<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccc18368-83e2-4250-80fe-810a3a58aa94" Alias="Drink 5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Drink5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:42:39</CreateDate>
    <NodeName Default="Drink 5" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/n0bndthc/drink-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>