<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9bb0ac0-7ff4-4456-9ae0-31fc6fbaa83f" Alias="Image 6" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T16:38:18</CreateDate>
    <NodeName Default="Image 6" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yyflx0pu/image_6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>