<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3c2377e-a947-4d20-876a-d7b8ebcbe7ad" Alias="Lunch 8" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Lunch8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:18:30</CreateDate>
    <NodeName Default="Lunch 8" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pa1nfi0h/lunch-8.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>