<?xml version="1.0" encoding="utf-8"?>
<Media Key="de06065e-c19a-4e93-8874-41353272a88f" Alias="Lunch 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Lunch3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:16:02</CreateDate>
    <NodeName Default="Lunch 3" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ladanxu0/lunch-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>