<?xml version="1.0" encoding="utf-8"?>
<Media Key="ecb62f96-7b02-41cb-b3f9-e3b281a22e38" Alias="Lunch 7" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Lunch7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:17:55</CreateDate>
    <NodeName Default="Lunch 7" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/saxln1ac/lunch-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>