<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed6bb58e-8f4b-4351-9c9b-a67ce66156f7" Alias="Lunch 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Lunch2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:15:26</CreateDate>
    <NodeName Default="Lunch 2" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rc0hx1kl/lunch-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>