<?xml version="1.0" encoding="utf-8"?>
<Media Key="3bdb801f-769d-4e44-abea-e05b9e7cc8bf" Alias="Wine 7" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wine7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:38:45</CreateDate>
    <NodeName Default="Wine 7" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dganwo23/wine-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>