<?xml version="1.0" encoding="utf-8"?>
<Media Key="09624e7e-bd6b-4d0c-b5c5-f718efda9c77" Alias="Wine 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wine3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:36:05</CreateDate>
    <NodeName Default="Wine 3" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pbhgecll/wine-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>