<?xml version="1.0" encoding="utf-8"?>
<Media Key="70b48f54-3f0e-4729-bd24-e5fc10310516" Alias="Wine 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wine2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-27T14:35:42</CreateDate>
    <NodeName Default="Wine 2" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kkhli2ao/wine-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>