<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1b40ecf1-1ccb-4b0e-a8c9-95dd3b8dba82" Alias="guitinnhan" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Send Message</Translation>
    <Translation Language="vi">Gửi Tin Nhắn</Translation>
  </Translations>
</Dictionary>