<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f7d5a8da-ab33-41da-af15-506a6bbc1993" Alias="hometitle2" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">We Love Delicious Foods</Translation>
    <Translation Language="vi">Chúng tôi yêu những món ăn ngon</Translation>
  </Translations>
</Dictionary>