<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ff4517b7-6f86-4002-b5b9-81a127c89254" Alias="hometitle1" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Eat Healthy and Natural Foods</Translation>
    <Translation Language="vi">Ăn thực phẩm lành mạnh và tự nhiên</Translation>
  </Translations>
</Dictionary>