<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4e932098-b12e-49af-a72d-070f6a97e8e9" Alias="makereservation" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Make Reservation</Translation>
    <Translation Language="vi">Đặt Phòng</Translation>
  </Translations>
</Dictionary>