<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2712e525-d892-460e-894c-ccff204359c6" Alias="makeareservation" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Make a Reservation</Translation>
    <Translation Language="vi">Đặt Phòng</Translation>
  </Translations>
</Dictionary>