<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="11cd14df-2e40-408c-ac69-c569bf0c253d" Alias="morehealthyfoods" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">More Healthy Foods</Translation>
    <Translation Language="vi">Nhiều Đồ Ăn Lành Mạnh</Translation>
  </Translations>
</Dictionary>