<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="43623395-7707-4bb3-9bb6-bf1fb77ea067" Alias="otherposts" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Other Posts</Translation>
    <Translation Language="vi">Các bài viết khác</Translation>
  </Translations>
</Dictionary>