<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1a8f28c6-6749-42dc-8907-b016910a946b" Alias="ourmaterchef" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Our Mater Chef</Translation>
    <Translation Language="vi">Siêu Đầu Bếp Của Chúng Tôi</Translation>
  </Translations>
</Dictionary>