<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="751a1d3a-51cb-4fa3-a4f4-b1de2ff0bbd5" Alias="ourmenu" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Our Menu</Translation>
    <Translation Language="vi">Menu Của Chúng Tôi</Translation>
  </Translations>
</Dictionary>