<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ebc8c87d-ea46-403e-8ddb-fb6e1f2a41c5" Alias="txt_email" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Your Email</Translation>
    <Translation Language="vi">Email Của Bạn</Translation>
  </Translations>
</Dictionary>