<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="df4acd09-8413-4d03-a1d9-80d757ee28d1" Alias="viewallmenu" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">View All Menu</Translation>
    <Translation Language="vi">Xem Tất Cả Menu</Translation>
  </Translations>
</Dictionary>