<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d98ecfb-64bb-4043-b68a-864c690e5ae3" Alias="Chef - Chef Name - Textbox" Level="1">
  <Info>
    <Name>Chef - Chef Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>