<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f8749f9-0d7f-473d-917d-ae4fd435aa31" Alias="Chefs - NumberOfChefc - Slider" Level="1">
  <Info>
    <Name>Chefs - NumberOfChefc - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 1.0,
  "InitialValue2": 0.0,
  "MaximumValue": 10.0,
  "MinimumValue": 1.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>