<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8cc1bcde-3dc9-47f1-bcb4-bb77337ae74f" Alias="Chef - FB Profile Link - Textbox" Level="1">
  <Info>
    <Name>Chef - FB Profile Link - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>