<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6eeb8af3-c65f-4693-b2c5-bc31ccfe37f4" Alias="Chef - Chef BIO - Textbox" Level="1">
  <Info>
    <Name>Chef - Chef BIO - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>