<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f2460db-0d0b-4cb3-8585-306515e80912" Alias="Chef - Chef Position - Textbox" Level="1">
  <Info>
    <Name>Chef - Chef Position - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>