<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b24e7b4-0bea-42fa-a24c-9d209e3e8594" Alias="Chef - Twitter Profile Link - Textbox" Level="1">
  <Info>
    <Name>Chef - Twitter Profile Link - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>