<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e141a813-d0de-4ae0-a36b-620d4867ee91" Alias="Food - Type - Dropdown" Level="1">
  <Info>
    <Name>Food - Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Breakfast"
    },
    {
      "id": 2,
      "value": "Lunch"
    },
    {
      "id": 3,
      "value": "Dinner"
    }
  ],
  "Multiple": true
}]]></Config>
</DataType>