<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b912971f-f5cb-4542-aa00-5c26085701c5" Alias="Textbox (1)" Level="1">
  <Info>
    <Name>Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>