<?xml version="1.0" encoding="utf-8"?>
<DataType Key="880da2e4-b110-4691-b329-4121faa25266" Alias="Textbox" Level="1">
  <Info>
    <Name>Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>