<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb5f788a-4a0e-4544-a2e7-5d589b3fbdea" Alias="User Picker" Level="1">
  <Info>
    <Name>User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>